[2020-07-30 09:31] studio16 commented on #429
especially the router issue is a problem in combination with the same alias but in different categories

[2020-07-30 12:47] CarlFuentes2020 commented on #427
default has been added to Timezone field

[2020-08-03 08:50] #427 closed

[2020-08-05 04:49] garkell opened #430 "Site View Form - Form Action"
Unsure if this is an issue or just my lack of understanding/knowledge or perhaps it doesn't matter.

### Steps to reproduce the issue
Create a new component with a site form view

### Expected result
Form action method I was expecting to be the same as hidden input task method

### Actual result
Form points to the "event" controller method of save
action = `<?php echo Route::_('index.php?option=co

[2020-08-05 12:03] studio16 commented on #429
No update? We are almost a week later.

[2020-08-05 12:08] CarlFuentes2020 commented on #429
This issue will be fixed in the future.

[2020-08-05 12:11] studio16 commented on #429
in the future, what does that mean? Is that like the nested set in the road map being there for years?

[2020-08-06 08:10] aDaneInSpain commented on #429
@CarlFuentes2020 This issue should not have been closed as it is not resolved. @studio16 we are currently working hard on developing support for Joomla 4. This issue will take a back seat until we have launched at least a beta version of this (which we hope to be able to do as early as next week).

[2020-08-07 01:17] garkell opened #431 "Minor - Site Single Controller - Clear userState"
### Steps to reproduce the issue
Generate a new component

### Expected result
In the single controller (site) method "remove" - clearing of userState has wrong element.
`$app->setUserState('com_mycomponent.edit.myelementname.id', null);`
`$app->setUserState('com_mycomponent.edit.myelementname.data', null);`

### Actual result
`$app->setUserState('com_mycomponent.edit.inventory.id', null);`
`$app-

[2020-08-10 04:23] darwin1234 opened #432 "Category not showing on item menu"
### Steps to reproduce the issue

It suppose to have categories on menu item. not sure what the issues. It might be your component generator.
![image](https://user-images.githubusercontent.com/8327269/89751764-1f515f00-db04-11ea-86ae-8a7b31a5ffd4.png)

### Expected result
[](url)

### Actual result

### System information (as much as possible)

### Additional comments

[2020-08-21 11:17] cur8s opened #433 "QoL Feature Request: Warning on Manual Table selection"
### Steps to reproduce the issue
1. Create a field
2. Select "Foreign Key (Select from another table)
3. for "Table" select "Manual configuration (for external tables)

### Expected result
N/A

### Actual result
N/A

### System information (as much as possible)
N/A

### Additional comments
It would be great if this field starts with a `#` to check for `#__`. and if it does not (e.g. `#_`), display

[2020-09-03 06:49] studio16 commented on #429
No update yet?

[2020-09-04 10:14] studio16 commented on #386
This has been on the road map for years now, any update when this will be added?

[2020-09-04 11:15] aDaneInSpain commented on #386
I have moved this to next release so we should get it sorted soon. Sorry for the delay and thanks for the bump.

[2020-09-16 13:09] CarlFuentes2020 commented on #378
hint has been added

[2020-09-16 13:09] #378 closed

[2020-09-16 13:10] CarlFuentes2020 commented on #416
The language has been amended for better user experience.

[2020-09-16 13:10] #416 closed

[2020-09-17 10:39] CarlFuentes2020 commented on #394
this field has been implemented

[2020-09-17 10:39] #394 closed

[2020-09-17 11:09] CarlFuentes2020 commented on #430
this issue has been fixed.

[2020-09-17 11:09] #430 closed

[2020-09-18 11:49] CarlFuentes2020 commented on #431
this issue has been fixed

[2020-09-18 11:49] #431 closed

[2020-09-25 13:36] CarlFuentes2020 commented on #429
This bug has been fixed

[2020-09-25 13:36] #429 closed

[2020-09-29 18:04] studio16 commented on #429
Ok gonna check it right away

[2020-09-29 18:42] studio16 commented on #429
yep seems to work

[2020-10-05 09:55] CarlFuentes2020 commented on #366
Close because we upgrade to built in Joomla tag and the problem could not be reproduced

[2020-10-05 09:55] #366 closed

[2020-10-05 09:56] CarlFuentes2020 commented on #367
This bug has been fixed

[2020-10-05 09:56] #367 closed

[2020-10-08 13:37] CarlFuentes2020 commented on #386
This has been implemented

[2020-10-08 13:46] studio16 commented on #386
ah excellent, gonna check it right away

[2020-10-08 13:59] studio16 commented on #386
Not working or do  i need some special setting
i get this error
Unknown column 'a.level' in 'field list'
and after  addiing 1 entry, the dropdown to select it's parent is not selectable.
I assume we need some explanantion, sinces nested tables use level,lft and rgt columns.

[2020-10-08 14:14] studio16 commented on #386
added level,lft,rgt
still not working
i can assign a parent on new creation, if i than want to edit the item the select box is not selectable anymore
some documentation would be nice

[2020-10-08 14:17] studio16 commented on #386
also the html for nested presentation is missing in the tmpl deafult.php for list view

[2020-10-09 03:49] blueline86 commented on #386
I'd suggest adding a root node to the table with SQL as well as adding a function to the table.php file to add the node if it does not exist

    /**
     * Add the root node to an empty table.
     *
     * @return    mixed  The id of the new root node or false on error.
     */
    public function addRoot()
    {
        $query = $this->_db->getQuery(true)
            ->insert($db->quoteName($th

[2020-10-09 06:42] studio16 commented on #386
Wow there is a great deal left to be done before closing this ticket I assume. It's certainly not a out of the box working feature.

[2020-10-09 07:54] aDaneInSpain commented on #386
Yeah, looks like we were a little bit too fast on the trigger for that one. We will review it all and make a better implementation.

[2020-10-09 08:23] #337 closed

[2020-10-09 09:41] blueline86 opened #434 "BUG Joomla 4 beta: Field Type TEXT needs default removed"
### Steps to reproduce the issue
Build a component with a TEXT SQL field type as Joomla 4 Beta
Install on Joomla 4 beta
Error: BLOB/TEXT column 'field' can't have a default value
Error installing component

### Expected result
No errors on install

### Actual result
Component fails install

### System information (as much as possible)
MySQL 5.6.49
PHP 7.4.10
Apache
litespeed
Joomla! 4.0.0-beta5-de

[2020-10-09 09:48] blueline86 opened #435 "BUG Joomla 4: Error SQL Invalid default value for 'modified_by'"
### Steps to reproduce the issue
Create a component as Joomla4 Beta, add a modified_by field
install component on Joomla 4 beta

### Expected result
Component installs without error

### Actual result
Component fails install
JInstaller: :Install: Error SQL Invalid default value for 'modified_by'
Extension installation aborted.
Error installing component

### System information (as much as possible

[2020-10-09 10:07] aDaneInSpain commented on #435
Thanks for your detailed bug reports. We will fix. Let me know if/when you need to buy/renew premium, you have earned yourself a nice discount :-)

[2020-10-09 10:46] blueline86 commented on #435
Thanks I just bought today to start doing the Joomla 4 testing. Also as an extension of this bug it looks like any time you select a raw SQL field type (non-Joomla type, INT, TEXT, FLOAT, etc) that the default value is set to "" regardless of the field type, eg: INT DEFAULT "" instead of 0 which is causing much the same error as this one and the other bug I reported. I've seen it on FLOAT, INT, TE

[2020-10-09 10:58] blueline86 opened #436 "Feature Request: Allow Default = NULL on fields"
For any field allow the default value to be set to NULL. Perhaps at a checkbox next to the text default box - or if someone enters "NULL" the value is set to DEFAULT NULL instead of DEFAULT "NULL".

[2020-10-10 11:17] blueline86 opened #437 "BUG: Joomla 4 JDate use in TimecreatedField.php"
### Steps to reproduce the issue
Create a component with Created By field in Joomla 4 Beta
Install to Joomla 4 Beta
Edit single item in admin

### Expected result
Item loads to edit and displays created by date field

### Actual result
Item does not load with error:
An error has occurred.
0 Class 'Joomla\Component\People\Administrator\Field\JDate' not found

### System information (as much as poss

[2020-10-10 13:44] blueline86 opened #438 "BUG: Joomla 4, New button not displayed in admin list view"
### Steps to reproduce the issue
Create a component in Joomla 4 beta with an admin list view
view admin list view in joomla 4 beta

### Expected result
"New" button display on main list view

### Actual result
no "New" button displays with Super Admin permissions

### System information (as much as possible)
MySQL 5.6.49
7.4.11
Apache
litespeed
Joomla! 4.0.0-beta5-dev Development [ Mañana ] 15-Sep

[2020-10-12 13:31] blueline86 opened #439 "BUG: Joomla 4 JError use in HtmlView.php with access field"
### Steps to reproduce the issue
Add an access field type to a component and view the site single item view in Joomla 4 beta

### Expected result
If user access level insufficient, throw 403 error. otherwise no error

### Actual result
0 Class 'Joomla\Component\Qi\Site\View\Game\JError' not found

### System information (as much as possible)
MySQL 5.6.49
PHP 7.4.11
Apache
litespeed
Joomla! 4.0.0-b

[2020-10-13 13:34] CarlFuentes2020 commented on #439
This bug has been fixed

[2020-10-13 13:34] #439 closed

[2020-10-13 13:34] CarlFuentes2020 commented on #438
This bug has been fixed

[2020-10-13 13:34] #438 closed

[2020-10-13 13:34] #437 closed

[2020-10-13 13:34] CarlFuentes2020 commented on #435
This bug has been fixed

[2020-10-13 13:34] #435 closed

[2020-10-13 13:34] CarlFuentes2020 commented on #434
This bug has been fixed

[2020-10-13 13:34] #434 closed

[2020-10-15 10:01] studio16 opened #440 "Unknown column 'a.tags' in 'on clause"
adding a fieldtype Tag gives frontend always the error  Unknown column 'a.tags' in 'on clause

[2020-10-15 13:47] CarlFuentes2020 commented on #440
this issue has been fixed

[2020-10-15 13:47] #440 closed

[2020-10-17 13:57] studio16 commented on #440
another issue with tags is the filtering in admin list view of tags (tags in multiple seelct modus)
that doesn't work

[2020-10-17 14:00] studio16 opened #441 "filtering on tags in admin list view not working"
filtering on tags in admin list view is not working cause it's missing in the model

[2020-10-19 11:46] CarlFuentes2020 commented on #441
this issue has been fixed

[2020-10-19 11:46] #441 closed

[2020-10-19 15:23] studio16 commented on #441
yes working thanks

[2020-10-24 07:43] blueline86 opened #442 "Joomla 4 $canCreate and $canEdit, broken in front end list view"
### Steps to reproduce the issue
Create a Joomla 4 component with frontend list view
Access the list view with permission to Create and Edit

### Expected result
in frontend list view, Create and Edit buttons are displayed if the user has access

### Actual result
Create and Edit buttons are not displayed if the user has access due to incorrect XML form path

### System information (as much as pos

[2020-10-24 07:53] blueline86 opened #443 "Joomla 4, edit method in front end controlled throwing warning"
### Steps to reproduce the issue
Create a Joomla 4 component, use the edit task on a front end controller

### Expected result
No warnings on use of the controller

### Actual result
Warning: Declaration of Joomla\Component\Qi\Site\Controller\QuestionController::edit() should be compatible with Joomla\CMS\MVC\Controller\FormController::edit($key = NULL, $urlVar = NULL) in /home/xxxxxxxx/public_htm

[2020-10-27 04:39] blueline86 opened #444 "Bug: Joomla 4, invalid model called in frontend form controllers"
### Steps to reproduce the issue
Create a Joomla 4 component with frontend form view
Call edit or cancel tasks on the form controller

### Expected result
Model is loaded to edit / check-in items

### Actual result
Error: 0 Call to a member function checkin() on bool
Model is not loaded due to typo

### System information (as much as possible)
PHP 7.4

### Additional comments
Model names are case

[2020-10-29 06:56] blueline86 opened #445 "Feature Request: Joomla 4 Web Asset Manager"
Implement Web Assets to load all styles and scripts including inline styles and scripts.
https://docs.joomla.org/J4.x:Web_Assets

Where xxx is the name of the component:

Replace:
[code]
etc

With:
[code]

Add` joomla.asset.json` to /media/

[code]

[2020-10-29 08:59] aDaneInSpain commented on #445
Thank you for bringing this to our attention.

[2020-10-29 09:00] CarlFuentes2020 commented on #442
This issue has been fixed

[2020-10-29 09:00] #442 closed

[2020-10-29 09:00] CarlFuentes2020 commented on #443
this issue has been fixed

[2020-10-29 09:00] #443 closed

[2020-10-29 09:01] CarlFuentes2020 commented on #444
this issue has been fixed

[2020-10-29 09:01] #444 closed

[2020-10-29 12:17] blueline86 commented on #386
This will be useful https://docs.joomla.org/J3.x:Developing_an_MVC_Component/Adding_Levels/en

Also Joomla has a layout file to automatically handle the display based on the level for nested sets:
<?php echo LayoutHelper::render('joomla.html.treeprefix', array('level' => $item->level)); ?>

[2020-10-29 12:19] studio16 commented on #386
the layout can be copied from the admin categories view

[2020-11-09 08:27] dariusz-hub opened #446 "Route::link doesnt work from admin"
### Steps to reproduce the issue

Use Route::link in admin site

### Expected result

Url to front site

### Actual result

getParams error

### System information (as much as possible)

### Additional comments

Suggest change in router.php form

```$params = Factory::getApplication()->getParams('xxx'); ```
to:
```$params = JComponentHelper::getParams('xxx');```

[2020-11-17 09:45] blueline86 opened #447 "Feature Request: Add Support for Web Services in Joomla 4"
### Steps to reproduce the issue
Hopefully, a quick feature add - and one that I will use immediately

Web Services API for Joomla has been introduced in Joomla 4. It requires relatively little set up to add this to a component.
https://docs.joomla.org/J4.x:Adding_an_API_to_a_Joomla_Component

Namely:
1) add API controller and jsonview for each view needed for the API
2) define the fields to retur

[2020-11-19 15:17] MatteoLogikamente opened #448 "Problem building the component in component-creator.com"
### Steps to reproduce the issue
build the component ID 192412 (com_suite)
https://www.component-creator.com/it/home/modifica-componente/crea?task=builder.build&component_id=192412

### Expected result
download the zip file

### Actual result
the process end with the error
An error occurred while trying to build the component. Please try again.
and every time the last file added is /home/combuild/

[2020-11-20 08:00] CarlFuentes2020 commented on #448
Hi, After investigate, I found out there is multiple foreign key field didnt assigned properly that cause the error.
Would you please check on these foreign key fields and assign value properly to see if the issue could be fixed.
#__suite_worker_tasks  field: work_order_line_id
 #__suite_load_rows field: load_id
 #__suite_batches  field: zone, item

#__suite_bin_batches_queue   field: production_o

[2020-11-20 08:07] aDaneInSpain commented on #448
@CarlFuentes2020 Can we improve the interface and server side code so it is not possible to get to this situation?

[2020-11-20 13:09] MatteoLogikamente commented on #448
Thanks to all, I knowed about some foreign key not updated but till the day before yesterday the component builds fine.
Now it works fine. Thanks

[2020-11-20 13:09] #448 closed

[2020-12-04 10:08] studio16 opened #449 "menu meta & borwser title missing"
any component build with a menu item to multiple view lacks meta info and borwserpage title (<title></title> tags)

[2020-12-13 10:52] hakanara opened #450 "Fix SQL Extended form field"
### Steps to reproduce the issue
Try to add Joomla SQL field with extended settings to you component.

### Expected result
Seeing the "default" option and only one "label" option in settings.

### Actual result
Seeing two "label" options in settings no "default" in settings.
But if you check the description of the "label" field at the bottom of the page, it says "Default value for key is '0'"
As t

[2020-12-14 17:15] webgobe opened #451 "Class 'FieldsHelper' not found"
### Steps to reproduce the issue

Create an one table, backend only component. Save it, install it.

### Expected result

To work

### Actual result
When click on the list view, you got this error:
Class 'FieldsHelper' not found

### System information (as much as possible)
Latest Joomla, PHP 7.4, Apache - fresh everything.

### Additional comments
The culprit seems to be this line from the lis mo

[2020-12-21 09:19] CarlFuentes2020 commented on #451
This issue has been fixed. Thanks for your report.

[2020-12-21 09:19] #451 closed

[2020-12-21 13:38] CarlFuentes2020 commented on #450
Thank you, the issue is fixed

[2020-12-21 13:38] #450 closed

[2020-12-21 13:38] CarlFuentes2020 commented on #446
Thanks for reporting. This issue is fixed

[2020-12-21 13:38] #446 closed

[2021-01-21 12:31] CarlFuentes2020 commented on #449
this issue has been fixed

[2021-01-21 12:31] #449 closed

[2021-01-29 13:57] CarlFuentes2020 commented on #386
The new nested table has been implemented.

[2021-01-29 13:57] #386 closed

[2021-02-01 12:47] CarlFuentes2020 commented on #349
This feature has been implemented. Form builder is for form and item appearance. List order is for order appearance of list.

[2021-02-01 12:47] #349 closed

[2021-02-02 05:58] jeremysmartin399 opened #452 "Build & Download results in error: An error occurred while trying to build the component. Please try again."
### Steps to reproduce the issue
Login to component creator, and go to the My Components page. https://www.component-creator.com/en/
On one of the components, click the "Build and Download" button.

### Expected result
The component builds and the files are downloaded as a zip file.

### Actual result
Message of "An error occurred while trying to build the component. Please try again."
![image](ht

[2021-02-02 08:59] giafrata commented on #452
Confirm issue and I've to add that I'm receiving internal error on some table edit action...

![Schermata 2021-02-02 alle 09 59 04](https://user-images.githubusercontent.com/4992909/106576333-4a5dbe00-653d-11eb-84bc-9d53370e198c.png)

[2021-02-02 09:09] CarlFuentes2020 commented on #452
Thanks for your report, the issue has been fixed. Please regenerate your component again.

[2021-02-02 09:09] #452 closed

[2021-02-03 13:25] MaverickPOZ opened #453 "Cant save DATETIME field"
Lets add in Component Creator datetime or callendar field and install component in Joomla.
After record edit and save - the datetime is not save to database.

[2021-02-04 12:21] goslingcools opened #454 "a field type TIME_UPDATED gets wrong 'timecreated' in the XML, should be 'timeupdated'"
### Steps to reproduce the issue
Create a field with field type Timed Updated (TIME_UPDATED)

### Expected result
in the XML, type should be 'timeupdated'

### Actual result
in the XML, it says 'timecreated' for type

### System information (as much as possible)

### Additional comments
![Fields-in-__insight_persons](https://user-images.githubusercontent.com/1038055/106892086-e0374b80-66eb-11eb-8d

[2021-02-04 13:53] CarlFuentes2020 commented on #453
I just did a test and could not reproduce the issue. can you give more information on your database version, OS, etc.

[2021-02-04 14:01] MaverickPOZ commented on #453
I think that the problem could show after changing of field type and component install (without removing it). Currently I changed filed type to SQL: Date and time -> DATE and its ok.

Joomla! 3.9.24 Stable [ Amani ] 12-January-2021 15:00 GMT
Mysql 5.6.49

[2021-02-05 12:41] CarlFuentes2020 commented on #454
This issue has been fixed.

[2021-02-05 12:41] #454 closed

[2021-02-07 08:04] blueline86 commented on #360
Yep. In the main component XML file add:

[code]
The XML file should contain the info that points to where you are storing your component zip file.

https://docs.joomla.org/Deploying_an_Update_Server

[2021-02-07 08:22] blueline86 opened #455 "Feature Request: Use native "Header" instead of union for SQL field type"
Currently, the SQL field type uses a UNION query to add the " - Select X - " header as the first item for a select list. The SQL field has a native param "header" where this can be specified allowing a more simple query to be used. This makes any custom edits needed to the query a bit simpler down the track.

query="SELECT '' AS `id`, 'COM_XX_XX_XX_ID_FILTER' AS `val` UNION SELECT `id` AS `id`, `n

[2021-02-07 08:54] blueline86 opened #456 "Feature Request: Indexes to SQL Install file"
Currently, indexes are not added to the database for any foreign key fields. I would suggest that in the install SQL file indexes are added for any foreign key field in the format "idx_fieldname".

Likewise, other standard fields could also have indexes added to improve query speed:
[code]

[2021-02-07 10:14] blueline86 commented on #435
Hi I'm hoping to get premium to test the new nested set implementation, would I be able to get that discount? Thanks

[2021-02-07 11:34] aDaneInSpain commented on #435
Sure @CarlFuentes2020 will send you a 50% discount coupon. Thanks for the bug hunting.

[2021-02-08 01:17] blueline86 commented on #435
Thanks and always happy to look for bugs. If you want I'm also happy to help with the implementation of features or bug fixing if you ever want a hand.

[2021-02-08 13:07] CarlFuentes2020 commented on #435
@blueline86 please send me your email address or Component Creator username, so that I could send you the discount code.

[2021-02-09 21:14] blueline86 commented on #435
@CarlFuentes2020  davidgeorgespam@gmail.com

[2021-02-10 11:11] blueline86 commented on #386
Hi Guys,
Still a bit more to be done on this one.

1) No default root node is added on install, so no other nodes can be added. on save of a new item it prevents the creation of a new item as there is no parent and does not create the parent at that stage.

Error
Save failed with the following error: Invalid `parent_id` [0] in NestedTabletest::check()

To resolve this either:
a) Insert the root no

[2021-02-10 11:27] blueline86 commented on #386
6. the 'access' column should be "Viewing Access Level"

[2021-02-10 12:14] blueline86 commented on #387
COM_XXX_SEARCH_FILTER_SUBMIT = "Search"
COM_XXX_SEARCH_TOOLS = "Search Tools"
COM_XXX_SEARCH_TOOLS_DESC = "Filter the list items"
COM_XXX_SEARCH_FILTER_CLEAR = "Clear filter"

JSEARCH_FILTER="Search"
JSEARCH_FILTER_SUBMIT="Search"
JSEARCH_TOOLS="Search Tools"
JSEARCH_TOOLS_DESC="Filter the list items."
JSEARCH_FILTER_CLEAR="Clear"
JSEARCH_FILTER_LABEL="Filter"
JFILTER_OPTIONS="Filter Options"
JSEA

[2021-02-10 12:27] blueline86 opened #457 "Feature Request: Throw 401 and 403 errors in controllers when $user->authorise != true"
### Steps to reproduce the issue
Currently if a user is not logged in or does not have sufficient privledges to access a controller task such as "publish" or "remove" a 500 code is thrown, can this be updated so that a 401 is thrown when they are not logged in and 403 when they are logged in but they don't have access.

### Additional comments
Change
[code]
to
[code]

[2021-02-10 12:34] aDaneInSpain commented on #457
Somebody buy this man a beer 🍺

[2021-02-11 09:19] blueline86 opened #458 "Bug: View not found in admin when plural display name and internal name are different"
### Steps to reproduce the issue
Create a component with a list view with different display and internal names.
Display: Countries
Internal: countrys
Create a new item in the admin section. One save the user is redirected to index.php?option=com_xxx&view=countries not index.php?option=com_xxx&view=countrys - thus the display name is being used in place of the internal name somewhere when generatin

[2021-02-11 09:46] blueline86 opened #459 "Bug: Form Builder: Some fields cannot be added to the form builder."
### Steps to reproduce the issue
Create a component with id, state, created_by, modified_by
Set them to visible on the form
navigate to form builder
These fields do not display

### Expected result
Fields are displayed in form builder and can be assigned to a tab

### Actual result
Fields are not displayed and are not assigned to a tab
When install these fields are displayed on the form page above

[2021-02-11 14:10] blueline86 commented on #437
JROOT/components/com_calls/src/Field/TimecreatedField.php:57
0 Class 'Joomla\Component\Calls\Site\Field\JDate' not found

JDate still in file

Build yesterday for Joomla 4.

[2021-02-12 12:27] CarlFuentes2020 commented on #386
1. Resolved
2. Resolved
3. Initially ordering will not be added but can be added by user this is user choice. Ajax ordering will be considering when Component Creator supposed ajax ordering in the next release.
4. Custom code that is not actually using in Component Creator will not be added
5. Trashing is following Joomla nested flow. No confirm will be added nor published all the child nodes.
6.

[2021-02-12 13:55] CarlFuentes2020 commented on #458
This issue is resolved.

[2021-02-12 13:55] #458 closed

[2021-02-14 12:44] blueline86 opened #460 "Bug: Table with the name "List" throws error due to invalid namespace in admin HtmlView Joomla 4"
### Steps to reproduce the issue
Create a component  in Joomla 4 with a table called "list" where the views are List and Lists
Try to create a new List item in admin
Error

### Expected result
Load admin form for the item

### Actual result
JROOT/administrator/components/com_xxx/src/View/List/HtmlView.php:10
namespace Joomla\Component\XXX\Administrator\View\List;
An error has occurred.
0 syntax er

[2021-02-14 13:22] blueline86 commented on #356
This fix is broken again in Joomla 4.

It can be fixed by simply including the subform content within the parent form instead of referencing a separate file.

Working example from one of mine with 2 nested forms.

[code]

[2021-02-15 03:28] blueline86 opened #461 "Bug: Joomla 4 Toogle Button Broken"
### Steps to reproduce the issue
Create Joomla 4 component with Toggle Button
Edit the item
toggle button broken

### Expected result
Toggle button toggles on click

### Actual result
Toogle button does not toggle - does load with styling and correct selection

### System information (as much as possible)
Joomla 4 beta 7
PHP 7.4

### Additional comments
looking at some toggles in com_content, look

[2021-02-15 11:44] blueline86 commented on #461
Also Toggle buttons displayed on list view in Joomla 4 also throw an error
`<?php echo HTMLHelper::_('listhelper.toggle', $item->active, 'connections', 'active', $i); ?>`
An error has occurred.
500 JHtml listhelper not found.

[2021-02-17 12:43] blueline86 commented on #445
Some extra info on this...

In admin item files it looks like you already load $wa.  However, the ->getRegistry is not required as the com_xxx asset json will be autoloaded. ->getRegistry is only required for loading registry of other components, etc. com_content uses this to get com_contenthistory. All that needs doing is removing the commented lines and add `->useStyle('com_connections.form');`

[2021-02-21 12:58] blueline86 opened #462 "Feature Request: Joomla 4 Fancy Select"
### Steps to reproduce the issue
In Joomla 4 a new layout `joomla.form.field.list-fancy-select` can be applied to any list field to style it natively for joomla 4 and also turn it into a combo box. This appears to work for the native SQL field but not the foreignkey.

I suggest adding the below to an SQL field to support this. Or have it as an option to enable.

`layout="joomla.form.field.list-fan

[2021-02-22 13:05] mfleeson opened #463 "BUG: Warning Component Install: Field 'title' doesn't have a default value Joomla 4"
### Steps to reproduce the issue
Create a new component for joomla version 4.0 Beta
Create an empty view
Build and install

This seems to work with any component built. My main component has 9 tables, loads of views and forms and I tried to simplify it down to see what's causing the error

### Expected result
Component installs

### Actual result
Component fails with Warning
Component Install: Fie

[2021-02-22 14:08] mfleeson commented on #463
Sorry. I ended up removing the Joomla 4 site and reinstalling and the error went away so I think it might have been a j4 bug.

[2021-02-22 14:08] #463 closed

[2021-02-23 12:36] CarlFuentes2020 commented on #461
This issue has been fixed

[2021-02-23 12:36] #461 closed

[2021-02-23 12:37] CarlFuentes2020 commented on #356
This issue is fixed on J4

[2021-02-23 14:01] CarlFuentes2020 commented on #460
this issue is resolved

[2021-02-23 14:01] #460 closed

[2021-02-24 03:58] fc338339 opened #464 "(URGENT) : "Default value" do not save as expected, so cannot show correct data to present Image"
### Steps to reproduce the issue

component : com_ccii
table : #__cc_proj_img
problem fields  1  : profix_img
problem fields  2  :suffix_img

### Expected result

problem fields  1  : profix_img
Default value after save :
   <span class="col-md-4 polaroid2"><img src=/images/_photo/

problem fields  2  : suffix_img
Default value after save :
   < /></span>

### Actual result

as below link
http://w

[2021-02-24 09:03] blueline86 opened #465 "Feature Request: Joomla 4 implement prepared statements"
Joomla 4 is moving to prepared statements. While not using them doesn't cause any issues with function, of course, there's a security advantage.

https://docs.joomla.org/J4.x:Moving_Joomla_To_Prepared_Statements

An example from the list models below. I saw use \Joomla\Database\ParameterType; is already loaded so I assume it's on the road map.

Replace
[code]
with
[code]

Replace
[code]
with
[code

[2021-02-24 09:23] emmanuel-tsalampounis commented on #457
The change is done and added live

[2021-02-24 09:23] #457 closed

[2021-02-24 09:28] emmanuel-tsalampounis commented on #215
The:
window.submitform(task);
is now changed to:
Joomla.submitform(task);

[2021-02-24 11:11] CarlFuentes2020 commented on #464
Please change the filter to raw to not filter html

[2021-02-24 11:11] #464 closed

[2021-02-24 14:24] emmanuel-tsalampounis commented on #417
Hello Fion,
I see that you have added some wrong special characters to the formbuilder of  #__cc_proj_img that are added to the language files and them. After removing them your component works fine (tested locally).

![1](https://user-images.githubusercontent.com/37623783/109014258-a4751d80-76bc-11eb-90f9-479df7cc925a.jpg)

[2021-02-24 14:27] aDaneInSpain commented on #417
Actually, the real solution to this is to prevent users from adding stuff that breaks their components.. I am reopening so we can filter and escape names, labels etc.

[2021-03-01 12:01] blueline86 opened #466 "Bug: Joomla 4 JRegistry in Table class"
### Steps to reproduce the issue
Create a joomla 4 component
use either params or metadata

### Expected result
No errors, data encoded as Registry

### Actual result
Error
 Class 'Joomla\Component\Pantry\Administrator\Table\JRegistry' not found

### System information (as much as possible)
PHP 7.4
Joomla beta 7

### Additional comments
Change `JRegistry `to `Registry `
Add `use \Joomla\Registry\R

[2021-03-08 11:02] CarlFuentes2020 commented on #192
This feature has been implemented

[2021-03-08 11:02] #192 closed

[2021-03-08 11:08] aDaneInSpain commented on #453
Not sure if we have an issue here or not?

[2021-03-08 11:15] #419 closed

[2021-03-09 12:06] blueline86 commented on #462
To implement you can alternatly add the below to `ForeignkeyField.php` and this will then set the default layout to fancy-select.

`protected $layout = 'joomla.form.field.list-fancy-select';`

[2021-03-10 09:59] CarlFuentes2020 commented on #466
This issue is fixed

[2021-03-10 09:59] #466 closed

[2021-03-10 10:21] hakanara commented on #192
Great feature for CC which I had been waiting for years. Thanks a lot. :-)

[2021-03-11 10:15] emmanuel-tsalampounis commented on #455
I have created a new component with both sql types that are available on component creator and I see one hit in the export:
`query="SELECT 0 as `id` UNION SELECT `id` FROM #__testa_testa ORDER BY `id`"`
The problem is that when I use `header="0"` it doesn't render it as in this file (tested with J3.9.25):
`libraries\joomla\form\fields\sql.php`
uses: `$this->header     = (string) $this->element['he

[2021-03-11 10:30] CarlFuentes2020 commented on #459
This issue has been fixed. The feature request is added to the waiting list.

[2021-03-11 10:30] #459 closed

[2021-03-11 10:49] blueline86 commented on #455
The value of "header" should not be "0" it can always be set as a language string eg: COM_XX_XX_XX_ID_FILTER. If 0 needs to be the label then the language string can translate that which will result in the header being displayed.

To use header, drop the UNION part of the query,  `query="SELECT id, name FROM #__xxx_xxxxxxx" header="COM_XX_XX_XX_ID_FILTER" key_field="id" value_field="name" `

the v

[2021-03-11 12:30] emmanuel-tsalampounis commented on #455
The documentation doesn't say anywhere that "0" is not accepted and I don't think that anyone will create a language string of 0 but let's say that it's not a bug. I need the name of the component that you have the problem as my test component doesn't have this union

[2021-03-13 04:45] blueline86 opened #467 "Bug: JEventDispatcher removed in Joomla 4"
### Steps to reproduce the issue
In the admin model of a list view, JEventDispatcher is used in the `duplicate `method
JEventDispatcher is deprecated in Joomla 4
An error has occurred.
0 Class 'Joomla\Component\Pantry\Administrator\Model\JEventDispatcher' not found

An error has occurred.
0 Too few arguments to function PlgContentJoomla::onContentBeforeSave(), 3 passed in /home/bluelinehost/public

[2021-03-13 08:48] blueline86 commented on #455
Firstly, this is not a bug it's an enhancement.

Secondly, the value of header is always a language string. Typically the label of which is something like "- Select Field -" and the value empty. Component creator currently sets a header using a UNION query instead of using the native header param.

All that needs to be done is kill the union query and set the language string as the header. The hea

[2021-03-15 08:13] emmanuel-tsalampounis commented on #455
1. I have asked you twice for your component name that you test (as I can't reproduce the issue) and still don't have it
2. You wrote: "Secondly, the value of header is always a language string" but here:
https://docs.joomla.org/SQL_form_field_type
The documentation has an example with "header" that uses free text, so I am answering based on the documentation. If you think that is wrong, you could

[2021-03-15 08:25] emmanuel-tsalampounis commented on #462
The fancy select for Joomla 4 is implemented for fields with type: SQL field, SQL field with extended settings, Foreign Key

[2021-03-15 08:25] #462 closed

[2021-03-15 08:26] aDaneInSpain commented on #467
@CarlFuentes2020 can you please extend @blueline86's premium subscription to 12 months from today. Well earned.

[2021-03-15 09:56] CarlFuentes2020 commented on #467
@aDaneInSpain done.

[2021-03-15 10:42] blueline86 opened #468 "Bug: Joomla 4 btn class alone not supported"
### Steps to reproduce the issue
Create a Joomla4 component with frontend item view.
Access view with suffienct privledges to edit so that the edit button is displayed
Edit button is not styled as expected

### Expected result
Edit button is bootstrap 5 styled

### Actual result
Edit button has no styling - namely no border or background

### System information (as much as possible)
Joomla 4 beta

[2021-03-15 11:40] blueline86 opened #469 "Feature Request: Hits Field"
Add support for a "Hits" field

the db field must be 'hits' as the hit method in the Table class depends on it
[code]

[code]
[code]

[code]

[code]

[code]

com_content hits in the display controller, but this will be a bit messier with many tables with some with hits and others not so I hit in the getItem method in the frontend item model - seems to work fine

[code]

Optional extra functionalit

[2021-03-15 11:44] blueline86 commented on #467
Thanks!

[2021-03-15 12:32] emmanuel-tsalampounis commented on #467
It is implemented based on your suggestion

[2021-03-15 12:32] #467 closed

[2021-03-15 15:40] aDaneInSpain commented on #467
Thank you @blueline86 :-)

[2021-03-17 03:41] blueline86 commented on #455
OK, I've got to the bottom of it. It's only in the filter xml not main form xml file.

I've built a test component com_header for you to look at it, but you can reproduce in any component with a filter for either SQL or foreign key field.  component_id=197530. I wasn't paying enough attention to which XML file it was coming up in

in xxx_filter.xml
[code]

[code]

[2021-03-17 03:41] blueline86 commented on #455
And yes in the main xml file all is looking good

[2021-03-17 11:05] emmanuel-tsalampounis commented on #455
@blueline86
It is implemented, you could check and close the issue

[2021-03-17 11:10] #455 closed

[2021-03-18 10:19] blueline86 opened #470 "Feature Request: Display checkin button on item frontend view if item is checked out"
### Steps to reproduce the issue
Create a component with front end item view
Check an item out

### Expected result
If item is checked out a button to check the item back in is displayed if the user has permissions

### Actual result
Edit button disappears without a check-in button if item is checked out

### System information (as much as possible)
Joomla 4 beta 7
PHP 7.4

### Additional comments

[2021-03-18 10:37] aDaneInSpain commented on #470
Once again thank you @blueline86

[2021-03-18 11:58] blueline86 opened #471 "Bug/Enhancement: Front end delete modal broken in Joomla 4"
### Steps to reproduce the issue
Create a Joomla 4 component with front end item view
Click Delete button

### Expected result
Delete modal to confirm delete is displayed

### Actual result
No modal is displayed

### System information (as much as possible)
PHP 7.4
Joomla 4 beta 7
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36

##

[2021-03-18 12:12] aDaneInSpain commented on #360
I am closing this as I am not considering this a feature that should be baked into Component Creator.

[2021-03-18 12:12] #360 closed

[2021-03-18 12:14] aDaneInSpain commented on #99
This has been implemented a while ago.

[2021-03-18 12:14] #99 closed

[2021-03-18 12:15] #375 closed

[2021-03-18 12:19] aDaneInSpain commented on #205
@CarlFuentes2020 This is implemented right? If so please close.

[2021-03-18 12:22] aDaneInSpain commented on #252
@CarlFuentes2020 @emmanuel-tsalampounis let's have a meeting about this once the dust settles on J4 compatibility and see if we can solve this

[2021-03-18 12:24] aDaneInSpain commented on #250
We are now supporting Joomla 4 (for several months). If you find any issues, please report them separately.

[2021-03-18 12:24] #250 closed

[2021-03-18 12:25] aDaneInSpain commented on #354
This should be solved by issue #204 so closing this as a duplicate

[2021-03-18 12:25] #354 closed

[2021-03-18 12:28] aDaneInSpain commented on #401
I don't think we have been good enough at writing blog posts to warrant adding comments. I will close this for now to start cleaning up in here.

[2021-03-18 12:28] #401 closed

[2021-03-18 12:29] aDaneInSpain commented on #436
I think this is a must now, and also the new Joomla default so we definately should support this.

[2021-03-18 12:30] #139 closed

[2021-03-18 12:32] #346 closed

[2021-03-18 12:37] blueline86 opened #472 "Bug: String not displayed if List value = 0"
### Steps to reproduce the issue
Create component with List (Select List) field
Set an option value to 0
View either item or list view

### Expected result
Language string for label is displayed

### Actual result
Value of 0 is displayed

### System information (as much as possible)
PHP 7.4
Joomla beta 7

### Additional comments
empty is used to determine if the string should be translated. This o

[2021-03-19 09:03] #205 closed

[2021-03-19 09:54] aDaneInSpain commented on #63
After discussion we have decided not to implement this as it is over complex and not something that we feel can be expected from many users. It will also add complexity that will make Component Creator more difficult to maintain.

[2021-03-19 09:54] #63 closed

[2021-03-19 10:27] aDaneInSpain commented on #167
The custom language strongs has now been implemented. If you still need the other things fixed, please create one issue for each one.

[2021-03-19 10:27] #167 closed

[2021-03-19 10:28] aDaneInSpain commented on #173
This is not standard Joomla behaviour and will not be implemented. You will have to code this yourself.

[2021-03-19 10:28] #173 closed

[2021-03-19 10:33] aDaneInSpain commented on #178
We are not sure what this refers to. Both Joomla components built and the component creator interface has "Duplicate" or "Clone" features. Please reopen to clarify this issue.

[2021-03-19 10:33] #178 closed

[2021-03-19 10:43] aDaneInSpain commented on #241
This is too complicated for now, and have not receieved any upvotes. It might be possible in Joomla 4 using the new fancy select field.

[2021-03-19 10:43] #241 closed

[2021-03-19 10:44] aDaneInSpain commented on #249
At this time we will not be implementing this feature.

[2021-03-19 10:44] #249 closed

[2021-03-19 10:50] #333 closed

[2021-03-19 10:50] #344 closed

[2021-03-19 10:53] aDaneInSpain commented on #472
This might be related or fixed by #186

[2021-03-19 11:04] aDaneInSpain commented on #453
We are unable to replicate this issue

[2021-03-19 11:04] #453 closed

[2021-03-19 12:25] CarlFuentes2020 commented on #468
This has been implemented

[2021-03-19 12:25] #468 closed

[2021-03-19 14:05] CarlFuentes2020 commented on #471
This bug has been fixed. The additional improvement will be discussed for added.

[2021-03-19 14:05] #471 closed

[2021-03-19 14:21] emmanuel-tsalampounis commented on #472
It is fixed with the explicitly allow 0 option

[2021-03-19 14:21] #472 closed

[2021-03-21 07:14] blueline86 commented on #471
Bug fix contains invalid language strings:

[code]

[2021-03-21 07:16] blueline86 commented on #471
Also modalWidth and bodyHeight are in vw not px so should not be greater than 100. for a delete modal 50% width and 10-20% height should do it

[2021-03-22 09:48] blueline86 opened #473 "Bug: JFIELD_RULES_LABEL Language String Not Translated"
### Steps to reproduce the issue
Create a component with frontend form

JFIELD_RULES_LABEL is not defined and is not translated so it displays as JFIELD_RULES_LABEL in front end form

JGLOBAL_ACTION_PERMISSIONS_LABEL has a definition but only in the component language files not any global joomla language file, so probably shouldn't be defined as a JGLOBAL

### System Info
Joomla 4 beta 7
PHP 7.4

[2021-03-22 10:06] blueline86 commented on #322
I know a lot has already been done on this - but I made a little method to replace such classes in my components automatically if you want to adapt it.

It recursively goes over all the files, searches for the old class names, replaces them, checks if the use Joomla\x\x\x is already in the file, if not it inserts it below  defined('JPATH_BASE') or similar. Then I check if the file has changed and

[2021-03-22 10:16] blueline86 commented on #377
@hakanara and @TVBZ if you're up to Joomla 4 use a layout instead of btn-group. NB the 0 value needs to be the top item for it to display correctly.

[code]

[2021-03-22 12:02] blueline86 opened #474 "Enhancement: Foreign Key Field"
### Steps to reproduce the issue
Currently, you need to add extra code to the tmpl file to support foreign key. Joomla layout does this automatically for such fields if implemented.

Turning this:
[code]

To this:
` <?php echo $this->form->renderField('cuisine_id'); ?>      `

It will also allow users to override the layout of the field by specifying a layout="" in the form XML file. Currently fan

[2021-03-22 12:37] emmanuel-tsalampounis commented on #473
@blueline86 I can't reproduce it, could you give me the name of the component that you see that?

[2021-03-24 10:09] blueline86 commented on #473
com_pantry is one, but it seems to be all of them, not component specific.

[2021-03-24 10:10] blueline86 commented on #473
![image](https://user-images.githubusercontent.com/32202762/112292515-45b7b980-8ce5-11eb-957a-5228073fd8d3.png)

NB this is in Joomla 4.

[2021-03-25 09:36] aDaneInSpain commented on #423
I am closing this issue as it is related to Joomla 3 only and is or will be solved in the Joomla 4 version. We are focusing our energy on Joomla 4 and are closing some older issues and feature requests that are only relevant for the Joomla 3 version.

[2021-03-25 09:36] #423 closed

[2021-03-25 09:37] blueline86 commented on #470
Method to add to frontend item controller

[code]

[2021-03-25 09:43] blueline86 commented on #470
Method to add to the frontend item model

[code]

[2021-03-25 10:56] blueline86 commented on #465
Table class, updated isUnique method
[code]

[2021-03-26 08:20] emmanuel-tsalampounis commented on #432
@darwin1234
I have searched for "Talentpro" in the component's list but I don't see any.
There are many questions that you didn't answered as "expected result", "system information" so without these I can't reproduce the problem and fix it if it's a bug from our side

[2021-03-26 08:37] aDaneInSpain commented on #432
I am closing this as a support issue. Please submit a support ticket.

[2021-03-26 08:37] #432 closed

[2021-03-29 08:52] CarlFuentes2020 commented on #436
Allowed null value by enter NULL in default box.

[2021-03-29 08:52] #436 closed

[2021-03-29 10:28] CarlFuentes2020 commented on #160
this bug has been fixed.

[2021-03-29 10:28] #160 closed

[2021-03-29 10:33] hakanara commented on #160
@CarlFuentes2020 Thank you. :-)

[2021-03-30 13:53] CarlFuentes2020 commented on #204
Finder plugin has been implemented.

[2021-03-30 13:53] #204 closed

[2021-04-01 10:39] CarlFuentes2020 commented on #275
This features has been implemented.

[2021-04-01 10:39] #275 closed

[2021-04-01 12:01] emmanuel-tsalampounis commented on #473
It is fixed

[2021-04-01 12:01] #473 closed

[2021-04-02 17:47] mfleeson opened #475 "The Internal name (singular) can not contain the reserved words: list, controller, view or model. - Stops Reviews Table"
### Steps to reproduce the issue
Create a table called Reviews

### Expected result

Table is created and component built

### Actual result
ERROR THROWN ON SAVE
The name of the table can not contain the reserved words: list, controller, view or model.
The Internal name (plural) can not contain the reserved words: list, controller, view or model.
The Internal name (singular) can not contain the re

[2021-04-06 08:20] emmanuel-tsalampounis commented on #64
It is enabled on the site

[2021-04-06 08:20] #64 closed

[2021-04-06 10:16] emmanuel-tsalampounis commented on #417
Added some filtering to prevent happening in the future

[2021-04-06 10:16] #417 closed

[2021-04-06 12:06] aDaneInSpain commented on #475
There are some reserved words that your table names can not contain as it confuses Joomla's naming convention. "view" is one of these words which is contained in the word re**view**

Your only option is to rename this table. Maybe something like "stars" or "valuations" or "opinions" etc.

[2021-04-06 12:06] #475 closed

[2021-04-06 13:20] CarlFuentes2020 commented on #186
Close because it is fixed in other issue.

[2021-04-06 13:20] #186 closed

[2021-04-06 13:20] CarlFuentes2020 commented on #470
This feature has been implemented.

[2021-04-06 13:20] #470 closed

[2021-04-09 16:11] ghost opened #476 "Field SQL DATETIME not saving"
### Steps to reproduce the issue
Select SQL DATETIME FIELD (not joomla date field) in CC

### Expected result
After component install and edit position - date should be saved

### Actual result
Date not saved

### System information (as much as possible)
Joomla 3.9.25
PHP 7.4.6
MySQL 5.7.31-34

### Additional comments
After select date and time (just click on callendar date) we have "09-04-2021 18

[2021-04-10 23:22] blueline86 opened #477 "Feature Request: Breadcrumb support"
### Steps to reproduce the issue
View front end views, item, form and list.
Currently, no breadcrumbs are set by the component. If a menu item is added for a list view, when the user navigates to the item view the list view is in the breadcrumbs without a link and the item is not included in the breadcrumbs. Likewise for the form view. And also the list view if it's not added as a menu item.

###

[2021-04-11 07:48] aDaneInSpain commented on #465
Let's discuss this before starting to implement.

[2021-04-12 09:52] blueline86 commented on #465
A note: it doesn't appear to like using the same placeholder multiple times. So in cases where filter_search has more than one column to search different placeholders need to be created for each column, instead of :search, :search :search  eg:

[code]

[2021-04-13 10:13] blueline86 opened #478 "Enhancement: Correct namespaces in Joomla 4"
### Steps to reproduce the issue
Currently, all namespaces for components for Joomla 4 created in CC are something like
`namespace Joomla\Component\<ComponentName>\Administrator\Table;`

According to the J4 docs any 3rd party component should not use `Joomla`, rather the company name as the first part of the namespace.
https://docs.joomla.org/J4.x:Namespace_Conventions_In_Joomla

I assume this is

[2021-04-14 11:33] emmanuel-tsalampounis commented on #474
@blueline86
I have created a new implementation that supports layout selection. You could check it

[2021-04-15 09:39] emmanuel-tsalampounis commented on #445
@blueline86
All CSS / JS moved to Web Asset Manager.
I haven't implemented the main json file as the assets are not complex and not mandatory for all cases. It could be done in the future if needed.

[2021-04-15 11:37] CarlFuentes2020 commented on #133
this feature has been implemented

[2021-04-15 11:37] #133 closed

[2021-04-15 13:38] CarlFuentes2020 commented on #476
@MaverickPOZ can you provide me with the componet ID that you are having the issue? I try to recreate the issue but could not.

[2021-04-15 13:52] aDaneInSpain commented on #476
Component ***name*** should be enough.

[2021-04-15 13:55] aDaneInSpain commented on #476
Also, we have had many issues like this before and they almost always relate with incorrect date format. Either for the field or for MySQL or for the server. They should all use "2021-03-22 16:22:22" format.

[2021-04-15 13:56] aDaneInSpain commented on #476
Yeah, you can see in your example you have Month-Day-Year instead of Year-Month-Day

[2021-04-15 17:22] hakanara commented on #133
Great addition. Thanks :-)

[2021-04-15 19:57] ghost commented on #476
Thanks for replies but I have just changed that SQL DATETIME field to J_CALENDAR and it works fine.

[2021-04-15 21:51] blueline86 commented on #445
Hi @emmanuel-tsalampounis thanks for implementing. I would strongly suggest adding the JSON file. Joomla recommends it and for me personally, I add extra assets and the JSON file was the main thing I wanted. It makes customisation a lot easier later. Adding the definition to the JSON file does not load the assets it simply registers them for use. They are only added to the document if called like:

[2021-04-16 08:42] CarlFuentes2020 commented on #476
I will close this issue for now. because the issue could not be recreate.

[2021-04-16 08:42] #476 closed, assigned to CarlFuentes2020

[2021-04-16 12:46] blueline86 commented on #474
Hi @emmanuel-tsalampounis.

Bugs:
Adding header="COM_XX_SOME_STRING" to the XML doesn't load to the input. Need to add
`$this->header = $this->getAttribute('header');`
to `getOptions() `

The input displays a bit weird. Note the extra border around the outside of the select. I'm not entirely sure why it's doing that.
![image](https://user-images.githubusercontent.com/32202762/115021995-1705bb00-9f

[2021-04-19 09:33] emmanuel-tsalampounis commented on #478
A new option is added in the component's parameters to define the namespace that you want to use

[2021-04-19 09:33] #478 closed, assigned to emmanuel-tsalampounis

[2021-04-19 12:49] tonypartridge opened #479 "Filelist - default option always shows"
https://gyazo.com/564a68c559ee8f2ee89cddf76bc30f3c

Notice the hide default option is checked, it shouldn't show it but it does.

https://gyazo.com/7287600685232290b10d2ad6c6c28e7e

[2021-04-19 12:57] emmanuel-tsalampounis commented on #445
The json is implemented

[2021-04-19 12:57] #445 closed

[2021-04-20 12:58] emmanuel-tsalampounis commented on #479
It is fixed, you could generate your component again

[2021-04-20 12:58] #479 closed, assigned to emmanuel-tsalampounis

[2021-04-20 13:48] CarlFuentes2020 commented on #387
The langauges have been replaced

[2021-04-20 13:48] #387 closed

[2021-04-20 13:50] CarlFuentes2020 commented on #433
We do not force "#__" becuase it allowed user to work with table not related to Joomla. A placeholder and more explanation to the tooltips has been added.

[2021-04-20 13:50] #433 closed

[2021-04-20 14:25] hakanara commented on #387
Another big contribution to the community. Thank you very much.

[2021-04-21 08:33] blueline86 commented on #162
Hi guys, if I’m reading this right this request is asking to essentially have a more flexible query for the options? One solution to consider is an “Advanced Foreign Key” field. To implement simply extend the current foreignkey field class.

The idea would be that a user could pretty much write what ever SQL query they like and then a custom field type is created for that component.

A new field c

[2021-04-24 03:41] danspinola opened #480 "Missing code in generated builds."
Sorry for the uninformative title.

A couple of days ago I adjusted a few columns on a table and rebuilt the component. While merging I noticed some weird changes. For example, the check for the version control button is missing the actual function that checks for authorization (picture below) which was present in the previously generated build. I suspect the team is getting ready for Joomla versi

[2021-04-24 11:34] Limatucano commented on #480
Yeah, this problem happen with me too when i  merging my changes

[2021-04-25 21:24] blueline86 opened #481 "Enhancement: Table class getTypeAlias() to return $this->typeAlias"
### Steps to reproduce the issue
Build any component with access control
examine XxxxTable.php for each table.

### Expected result
`getTypeAlias()` should return `$this->typeAlias`
Likewise `_getAssetName()` can also use `$this->typeAlias`

### Actual result
`$this->typeAlias` is defined in `__construct()`
 the `getTypeAlias()` method returns a hard coded value `'com_xx.yyy'` instead of referenci

[2021-04-26 07:31] CarlFuentes2020 commented on #480
This is a bug during development.
It has been fixed.

[2021-04-26 07:31] #480 closed, assigned to nobody

[2021-04-26 09:23] emmanuel-tsalampounis commented on #377
I see that the "Toggle Button" option is available in "Field Type" selection and works fine on J3 / J4. Closing the issue

[2021-04-27 06:34] hakanara commented on #377
I am not talking about field type but "Config parameters" of the component. Toggle button still does not exist there, please reopen the issue. Try to add a toggle button to the config parameters, you cannot. It does not exist.

Error 504: Issue misunderstood.

[2021-04-27 06:48] blueline86 commented on #377
Agreed, there is definetly no toggle button in the config list and it would be very useful. An added featue which doesn't need to come with it right now, but have some standard defaults that use the global langauge strings:
Yes/No
Show/Hide
On/Off

Then custom as it is now, but the top 3 would probably cover 99% of use cases.

[2021-04-27 10:09] emmanuel-tsalampounis commented on #377
It is implemented now, you could check it

[2021-04-27 10:09] #377 closed

[2021-04-27 10:20] CarlFuentes2020 commented on #447
This feature has been implemented.

[2021-04-27 10:20] #447 closed

[2021-04-27 11:18] CarlFuentes2020 commented on #374
this Issue has been implemented

[2021-04-27 11:18] #374 closed

[2021-04-27 12:46] blueline86 opened #482 "Enhancement: Use Joomla Global Language strings in Toggle buttons"
### Steps to reproduce the issue
Currently, users must define the On/Off values for toggle buttons which are given custom language strings. Joomla has many standard language strings in the global file that would typically be used for toggles. I suggest modifying the Toggle Button to support the selection of a predefined string in Joomla or set a custom one as is currently the case. Strings of inte

[2021-04-27 12:55] hakanara commented on #377
Thank you very much.

[2021-04-27 13:08] hakanara opened #483 "Cannot contain reserved words"
### Steps to reproduce the issue
I already have a table with the name:
#__madblanks_fieldassignments

When I save the table with some changes in the settings, I get these errors:
The name of the table can not contain the reserved words: list, controller, view or model.
The Internal name (plural) can not contain the reserved words: list, controller, view or model.
The Internal name (singular) can n

[2021-04-27 13:19] hakanara opened #484 ""Add Web Services API" check cannot be removed"
### Steps to reproduce the issue
Enter the settings of a table, uncheck "Add Web Services API" and save the table.

### Expected result
Add Web Services API settings should be unchecked when the table is reopened.

### Actual result
Every time I open the table settings, Add Web Services API is checked again.

### Additional comments
Most probably this field is not saved into your database so it do

[2021-04-27 14:09] CarlFuentes2020 commented on #484
Hi @hakanara , It is probably because you choose Joomla 3 component. it has to be Joomla 4

[2021-04-27 14:09] #484 closed, assigned to nobody

[2021-04-27 17:56] hakanara commented on #484
OK, but why does the check come back when I save it? I don't want to keep that field checked. Whether Joomla 4 or 3. (yes my component is Joomla 3 but I am preparing it for Joomla 4. After you close some issues, I come back to change some settings).

[2021-04-27 18:02] hakanara commented on #484
Ok, when I check, I see that this setting is now disabled for Joomla 3 since it is Joomla 4 only. Then why don't you keep "Add plugin for privacy tool suite" disabled as well since it is also Joomla 4 only? For consistency and in order not to create confusion, it is better to keep it disabled as well.

[2021-04-27 22:16] blueline86 commented on #483
Yep this is an issue. If you use those names, Joomla 4 will throw fatal errors.

[2021-04-28 05:25] CarlFuentes2020 commented on #484
Hi @hakanara,
Another improvement will be working on for consistency.

[2021-04-28 07:17] emmanuel-tsalampounis commented on #483
It is the normal behavior, please check the @aDaneInSpain's answer here: https://github.com/aDaneInSpain/component-creator-issues/issues/475

[2021-04-28 07:17] #483 closed, assigned to emmanuel-tsalampounis

[2021-04-28 08:15] hakanara commented on #483
But in this case, my table does not contain these words. Is it the "field" word that is creating the issue?

[2021-04-28 09:34] hakanara commented on #482
+1 and thank you :+1:

[2021-04-28 12:30] emmanuel-tsalampounis commented on #483
@hakanara yes, the error message was outdated, I have updated that so you could see now why it fails

[2021-04-28 13:09] CarlFuentes2020 commented on #481
A fix was deployed for this.

[2021-04-28 13:09] #481 closed, assigned to CarlFuentes2020

[2021-04-29 09:46] emmanuel-tsalampounis commented on #322
We have replaced all deprecated class names for J4. If you find any please report it.
For J3 we decided to not implement it.

[2021-04-29 11:51] blueline86 commented on #252
I've always wanted this feature, but I too struggle to think how it would be practically rolled out. One (probably bad) solution would be to let the user override ANY file that is generated. They can at all times view the automatically generated version as well and see tracked changes between the files so the changes they have made (and the parts they are missing) are obvious.

Code that is in the

[2021-04-29 11:53] blueline86 commented on #252
Also, something to consider is allowing users to add extra files that don't exist by default. My thinking is custom fields and layouts. I would happily extend the Foreignkey field and add a few totally custom ones and J4 is moving towards using lots of layouts.

[2021-04-29 12:08] emmanuel-tsalampounis commented on #482
It is implemented. It checks if the provided text is one of the language keys that you suggested and uses it.
I made it in a way that could be extended so if you have other keys or fields that could be implemented you could tell me.

[2021-04-29 12:08] #482 closed, assigned to emmanuel-tsalampounis

[2021-04-29 12:20] blueline86 commented on #482
Thanks. Would be easy enough to also check if the translation is used?

“On” becomes “JON” etc.

It’ll make it a more accessible feature. It’ll also mean for all the toggles that already have these values used they will update to the new strings without any edits to the component.

[2021-04-29 12:38] emmanuel-tsalampounis commented on #482
@blueline86 I am not sure if all users want to see their values become default joomla keys and not something that they could customize easily. @aDaneInSpain will decide, I vote against.

[2021-04-29 12:42] blueline86 commented on #482
It’ll be the same end result for the user. If they type “On” in the toggle, “On” will be displayed. If they type “Purple” it’ll display “Purple” but in that case the component will add a language string because it’s not in the defined list of strings with Joomla translations.

[2021-04-29 12:58] aDaneInSpain commented on #482
What @blueline86 is suggesting is that if someone adds a field called "Birth Date" then we will look for a standard Joomla language constant called "JBIRTH_DATE" and if we find it, we will use that instead of adding a "COM_NAME_BIRTH_DATE" language constant. I think this is taking the "optimization" a little bit too far and I fear it will lead to confusion in many cases and make it more complicate

[2021-04-29 13:03] blueline86 commented on #482
I was suggesting it be a bit more conservative. I would say limit this specifically to toggles only for now and literally only check the translations of the above 17 strings. So you’d have to white list any values. On, Off, Enabled, Hide, Show, etc

[2021-04-29 13:32] blueline86 commented on #482
As an example, it could work like this:

Have an array of the approved strings, check if it's the string or the translation, else return a custom string. This is also case sensitive so "Default" will return JDEFAULT but "default" will be COM_XXX_DEFAULT.

[code]

[2021-04-29 13:52] aDaneInSpain commented on #482
I would be happy with that implementation.

[2021-04-29 16:27] hakanara commented on #482
What @blueline86 suggested here is great. I am also very happy that it will be implemented @aDaneInSpain .

[2021-04-30 07:47] emmanuel-tsalampounis commented on #482
It is implemented

[2021-04-30 09:38] hakanara commented on #482
I have been following the discussion, it is implemented. Thank you very much for this nice idea and the implementation. But I have no idea how to update my toggle buttons so that I get rid of extra language strings for my current components. What should I write instead of Yes No for example to use core Joomla language variables? Can you also add some instructions for togglebuttons for the new come

[2021-04-30 09:41] emmanuel-tsalampounis commented on #232
@hakanara the contact form URL is fixed. About the rest issues please create some screenshots where each word goes

[2021-04-30 10:31] emmanuel-tsalampounis commented on #482
@hakanara I have added a tooltip on each input with the language keys that you could use instead of normal words. The English words of @blueline86's comment are also supported but for your case it is better to use the language keys.

[2021-05-01 11:26] hakanara commented on #482
@emmanuel-tsalampounis It looks great now. :-) Thanks again to you and to @blueline86

[2021-05-01 11:31] hakanara opened #485 "Add "type" to config parameters"
When you open a component config in CC site, you don't see the type of the fields where the settings are listed, like which is a toggle button for example. In the tables of the component, we see the type of the field but not here. It would be nice to see them as well.

[2021-05-01 11:43] hakanara opened #486 "Ordering of the fields changed"
I think you have made an update to order the fields in the tables. The current usage is much better than the previous one (This is better than ordering the fields in the build form section)

But I have lost the ordering of my fields. On top, when I update a field, it is recorded as the last item of the order. So its ordering is changed automatically.

Are these problems only for one time? We need

[2021-05-02 16:01] hakanara commented on #142
I add one more vote for this.

[2021-05-02 16:02] hakanara commented on #141
I add one more vote for this item.

[2021-05-02 16:05] hakanara opened #487 "Define how to add Fontawesome in "edit table" tooltip"
What should be the syntax of the font that we use for fontawesome?

[2021-05-03 07:31] emmanuel-tsalampounis commented on #482
@hakanara the tooltips are removed as @aDaneInSpain thinks that may confuse users about what they have to type in the box

[2021-05-03 09:28] hakanara commented on #482
I don't agree with @aDaneInSpain but he is the boss. To me, it brings clarity and the users here are developers who will not be easily confused.

[2021-05-03 10:24] aDaneInSpain commented on #482
A large part of our users are not really developers, and they definitely would be confused by the "help" text that was there before. In fact so would most developers.

There is no reason to tell people up front, that if they select a certain name for their field, we will re-use a system language translation string. It is completely irrelevant for 99.9% of users at that point. It is a minor little

[2021-05-03 10:28] hakanara commented on #482
@aDaneInSpain I understand you and I really respect that you want to keep the interface simple. I just want to add that, any "developer" whose site is using only one language except English will still have the clutter in the language files if they don't know the trick of using JYES intead of "Evet" (Yes in Turkish). That's why I thought that it would be good to state that trick. Your choice, I res

[2021-05-03 10:41] aDaneInSpain commented on #482
Well... that is a use case that I had actually not considered. Hmmm... Maybe if we phrase the info text better...

[code]

On the other hand... if you ONLY need Turkish you would simply fill in "Evet" in the field and no translation would be needed. If you needed English and Turkish, you should translate FROM English and would enter "Yes" in the field anyway. So the use case is still extremely nar

[2021-05-03 10:53] hakanara commented on #482
Maybe I am confused. When I write "Evet" for toggle button "on", I will still have some clutter for each on (and off) in the language strings, right? Therefore, I thought if I write JYES for the language string, even if I only use the site for Turkish, I would get rid of the clutter.

But now I understand that writing JYES will not save me. So you don't support writing JYES in this case? (by not c

[2021-05-03 10:57] hakanara commented on #482
So you recommend me to leave the toggle buttons as Yes and No if I build the component only for Turkish? (So that they will be overwritten with JYES and no clutter will occur)

[2021-05-03 11:15] aDaneInSpain commented on #482
Maybe I am confused. But yes, if you leave it "Yes" or "No" or "Off" and "On" etc. it should pick up the "Evet" from the Turkish language file for JYES.

So yeah, this is why I am arguing removing the "tip" because it is quite confusing. Component Creator will help you if you decide to reuse typical toggle names, if not, then you have a language file with options (which I am not sure, I would call

[2021-05-03 12:28] hakanara commented on #482
Now we understand each other. So you can decide if the tip should exist or not. The other option could be telling the developers that they could use JYES JNO etc. which means `'JYES' => 'JYES'` for the array above. And then you can explain it in the tooltip if you like. Whatever you decide, thank you very much for these wonderful updates. :-)

[2021-05-03 20:39] blueline86 commented on #482
@aDaneInSpain if you want to aim this primarily at non-developers and get past the issue of multiple languages, you could add a select with the supported values and the last option being custom. When custom is selected you show on the existing fields. When one of the predefined string sets is selected you set the on off values to the language strings. No explanation needed to the user and works wi

[2021-05-03 20:42] blueline86 commented on #482
And as always, love your work, this bit of software has saved me hours and hours and hours

[2021-05-04 10:39] blueline86 commented on #487
I believe it’s the standard FA class. Eg: fas fa-user

[2021-05-04 11:54] emmanuel-tsalampounis commented on #477
It is implemented based on your suggestion. There is an option in component's configuration page to enable it.

[2021-05-04 11:54] #477 closed, assigned to emmanuel-tsalampounis

[2021-05-04 12:01] emmanuel-tsalampounis commented on #487
That's correct, without the "fas" class. An example is: fa-rss.
For changes in tooltip texts, @aDaneInSpain has to approve them.

[2021-05-04 12:09] emmanuel-tsalampounis commented on #486
@hakanara we don't have any similar problem from other users. In order to check your issue you have to fill the questions about your component name and your testing environment

[2021-05-04 13:06] emmanuel-tsalampounis commented on #485
It is implemented

[2021-05-04 14:09] aDaneInSpain commented on #487
Should not be closed if not resolved.

What is the tooltip now?

[2021-05-04 22:03] blueline86 commented on #460
Hi, looks like this is policing this too aggressively. The errors only occur if the name is literally "List" something like "Shoppinglist" is ok, but currently that throws an error. Likewise, I've seen someone else have issues with "Review" which should also be ok.

[2021-05-04 23:15] blueline86 commented on #487
Current
Joomla 4 includes Font Awesome and allows you to select an icon for each of your administrator views. Look up the different icons on the Font Awesome website. The icon must be available for Font Awesome version 5.13 free.

Suggested:
Joomla 4 includes Font Awesome and allows you to select an icon for each of your administrator views (eg: fa-user). Look up the different icons on the Font Aw

[2021-05-05 06:50] hakanara commented on #485
Unfortulately not. When you click on config parameters tab, you only see the name and the label as the column. I am asking another column where we can see the type of the parameter (so that we can make changes when there is an update in a specific type).

In other words, this type column should be visible when you click on the "config parameters" tab where the parameters are listed.

[2021-05-05 06:55] hakanara commented on #485
![config](https://user-images.githubusercontent.com/16389546/117106107-f22a9800-ad87-11eb-8a6f-312ca29586ca.jpg)

[2021-05-05 07:29] aDaneInSpain commented on #487
Perfect, thank you very much

[2021-05-05 07:34] aDaneInSpain commented on #460
No, we have definitely had issues in the past with "Review".

[2021-05-05 07:34] emmanuel-tsalampounis commented on #485
Ok I thought you meant in the list that now is added, reopening that

[2021-05-05 07:36] blueline86 commented on #460
I know Shoppinglist will work. Haven’t tested any of the others.

[2021-05-05 07:43] aDaneInSpain commented on #460
Yeah, I think "View", "Model" and "Controller" are the most difficult. But I don't think it is worth fretting over, Make the internal name "Shoppingitems" and there is no issue.

[2021-05-05 07:50] emmanuel-tsalampounis commented on #487
The text is changed

[2021-05-05 07:50] #487 closed, assigned to emmanuel-tsalampounis

[2021-05-05 12:55] emmanuel-tsalampounis commented on #486
@hakanara there was another user with the same problem today and I have added a fix. If it's fixed for you too you could close the issue.

[2021-05-05 13:04] #486 closed, assigned to nobody

[2021-05-05 13:05] hakanara commented on #486
Thank you very much for your prompt responses @emmanuel-tsalampounis

[2021-05-05 15:01] hakanara commented on #232
The issues seem to be fixed. I will complete the rest of the translation.

[2021-05-05 15:01] #232 closed

[2021-05-07 09:26] emmanuel-tsalampounis commented on #215
On J4 the:
$document->addStyleSheet
$document->addScript

Are removed and web assets manager is implemented: https://github.com/aDaneInSpain/component-creator-issues/issues/445

For J3 won't be changed

[2021-05-10 10:33] emmanuel-tsalampounis commented on #485
It is added

[2021-05-10 10:33] #485 closed, assigned to emmanuel-tsalampounis

[2021-05-11 04:35] blueline86 commented on #376
To keep everyone happy you could add 4 checkboxes to the field:

Show: Published (1), Unpublished (0), Trashed (-2), Archived (-1) - with Published ticked by default and of course also do your check for the state field to prevent SQL errors. If all are unchecked, then results are returned independent of the state field value.

[2021-05-11 14:55] hakanara commented on #485
Thank you very much.

[2021-05-17 10:41] CarlFuentes2020 commented on #162
@blueline86 Is it a bit redundant? since the SQL field already allow you to have what ever Query. The only different is it is exposed to written to XML.

[2021-05-17 10:55] blueline86 commented on #162
True you can use the SQL field type, however the first like on the docs is in red saying we suggest you sub class form field and make you’re own field. The reasons being the sql field I s still a bit limited and also forces you to put SQL in a publicly readable XML file. Seeing as this only requires subclasing foreign key and chucking a query into that sub class file, seems not too hard to impleme

[2021-05-18 14:20] tonypartridge opened #488 "[4.0.b8] Form view shown even if not authorised."
The form is shown to all including guests even if not authorised, save check does decline them however.

[2021-05-18 14:20] tonypartridge commented on #422
+1 this is standard in JCB. It should be fairly easy to achieve.

[2021-05-25 10:08] bob-van-etten opened #489 "FEATURE REQUEST: set picturesize for image uploads"
Love component creator and use it for my costumers allmost everyday!

What would make my work even more easier is a way to determine the size of the pictures the user uploads. When a user uploads a big picture its automatic resized to the size which is set in component creator.

An option to crop the picture, would also be great! Is there any way this could be part of the component creator in the

[2021-05-27 08:11] CarlFuentes2020 commented on #162
A custom query field key is implemented called "Custom query list"

[2021-05-27 08:11] #162 closed

[2021-06-03 01:48] blueline86 commented on #162
I can't find where this is implemented?

[2021-06-04 11:23] SiteOp opened #490 "Switcher Layout für Radio Field"
### Steps to reproduce the issue
Create a radio buttons multiple choice

### Expected result
Radio Button as Switcher
![Screenshot 2021-06-04 132021](https://user-images.githubusercontent.com/2822837/120793857-b7a74d00-c537-11eb-8adb-c17cb29ff0bf.png)

### Actual result
![Screenshot 2021-06-04 132134](https://user-images.githubusercontent.com/2822837/120793934-d0affe00-c537-11eb-85ba-5fcfdd1c7633.

[2021-06-05 10:21] blueline86 commented on #489
I'd also love this feature. Ideally, you'd want to be able to set a few image sizes, such as an icon size, thumb and display. In a very ideal world the field would also be drag and drop. I've developed something that does this that I manually drop into components that need it. It could still use a bit more polishing but it works.

I have a custom field type and associated custom layout file. Then

[2021-06-05 10:22] blueline86 commented on #490
Using the Toggle Button field will do this.

[2021-06-05 10:24] blueline86 opened #491 "Feature Request: Joomla 4 support for CC Login"
With Joomla 4 RC2 now out it would be great to have a J4 version of CC Login.

[2021-06-05 11:33] blueline86 commented on #491
Classes to replace followed by the file generated from my method to auto-replace old classes. Happy to provide the updated files if you want.

com_ccl added Factory class.
Replaced: /_joomla4/com_ccl/script.php
com_ccl added Text class.
Replaced: /_joomla4/com_ccl/layouts/components/com_ccl/authentication/login-button.php
com_ccl added BaseController class.
com_ccl added Route class.
com_ccl added

[2021-06-05 11:34] SiteOp commented on #490
You are perfect. I didn't know that. Exactly what I wanted!

[2021-06-05 11:34] #490 closed, assigned to nobody

[2021-06-11 07:19] logikamente opened #492 "Cloudflare 524 error on building components"
### Steps to reproduce the issue
Build our component "com_suite" id: 192412 3 times out of 4 will return this error

### Expected result
Wait lot of time if necessary but not the error

### Actual result
3 times out of 4 will return Cloudflare 524 error

### Name of component and email used to register (if relevant)
"com_suite" id: 192412 user amministrazione@logikamente.it

### System information

[2021-06-11 12:01] blueline86 opened #493 "Joomla 4: Remove deprecated calls and use Dependency Injection where possible"
https://docs.joomla.org/J4.x:Dependency_Injection_in_Joomla_4

In controllers `Factory::getApplication() `can now be accessed like `$this->app; `
In controllers `Factory::getApplication()->input` can now be accessed like `$this->input; `
`Accessing the input property of the application is deprecated, use the getInput() method instead.`

`Joomla\CMS\Factory::getDbo() is deprecated. Load the databas

[2021-06-13 11:15] blueline86 opened #494 "Feature Request: Add toggle button to sub-form field types"
### Steps to reproduce the issue
Toggles can be used in standard tables and config, but are not available in a sub-form, can they please be added. thanks.

[2021-06-13 13:34] blueline86 opened #495 "Bug: Empty View Joomla 4"
### Steps to reproduce the issue
Create a Joomla 4 component with an empty view including front end form
view the output files
for an empty view called "user" the form controller file is called `user.php` which would be for Joomla 3, it should be `UserformController.php ` - the other 2 controllers (list,item) are named correctly - the content of the file also looks fine - just the filename

[2021-06-13 13:38] blueline86 opened #496 "Bug: Joomla 4 createdby field"
### Steps to reproduce the issue
The createdby.php / CreatedbyField.php are both being generated in a Joomla 4 component.

The content of both is the same (for J4) so it doesn't break anything as far as I can tell

createdby.php is not required by Joomla 4 and is a duplicate so can be deleted/not generated.

[2021-06-14 09:06] blueline86 opened #497 "Bug: Joomla 4 Sub-form not loaded in config"
### Steps to reproduce the issue
Create a Joomla 4 component (but it may also be a bug with 3, haven't tested it).
Add a sub-form to the config.
Go to config in admin
Sub-form will not display

### Expected result
Sub-from displays in config

### Actual result
Sub-from does not display in config. Error given due to missing XML file - Joomla\CMS\Form\Form::getInstance() could not load file

### Nam

[2021-07-01 11:39] blueline86 opened #498 "Feature Request: Joomla 4 Compatibility Checker"
### Steps to reproduce the issue
Go to update from J4 RC3-dev to RC4-dev
Wait for the compatibility checker to run
Click More Detail
Note that CC components have "No Compatibility Information"

### Expected result
J4-beta components return they are compatible with J4

### Actual result
"No Compatibility Information"

### System information (as much as possible)
J4 RC3-dev
PHP 7.4

[2021-07-14 12:25] CarlFuentes2020 commented on #492
Hi @logikamente,
Our sincere apology for late response,
The error has been fixed. You can try to create your component now.

[2021-07-14 12:25] #492 closed, assigned to CarlFuentes2020

[2021-07-14 13:04] pirosoft opened #499 "Bug: duplicated id field"
### Steps to reproduce the issue
when i open table i find duplicated id field

### Expected result

not find duplicated id field

### Actual result

### Name of component and email used to register (if relevant)

com_pleg

### System information (as much as possible)

### Additional comments

[2021-07-14 13:25] pirosoft commented on #499
the problem is just with one component com_pleg

[2021-07-15 07:14] digitalsein commented on #499
Same with my components - new and very old ones.
Each time I try to build the zip I get an extra id field

[2021-07-15 11:47] CarlFuentes2020 commented on #499
​Sorry for the ​inconvenience, The bug has been fixed, you can start to generate your component.

[2021-07-15 11:47] #499 closed, assigned to CarlFuentes2020

[2021-07-15 22:08] rogeriocbrito opened #500 "Tag field does not save new tags on frontend"
### Steps to reproduce the issue
I've just created a component, com_plugpec_ora, and on it I have a TAG field. I works on the backend, I can add tags while editing the form, and save them.
But it doesn't work on the frontend. I can add tags while editing, but they are not saved when I submit the form.
I didn't do any customization yet. Do I have to do anything extra to make Tags work on the fronte

[2021-07-16 07:35] chetnath opened #501 "table field creating issue"
### Steps to reproduce the issue

when i try to create field then it logged out why? while there is only one table..

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments
Please help

Thanks

[2021-07-16 08:40] aDaneInSpain commented on #501
We are aware of this issue and are working on it.

[2021-07-16 09:27] CarlFuentes2020 commented on #501
@chetnath Sorry for the inconvenience. The issue has been fixed. you can start generate the component now.

[2021-07-16 09:27] #501 closed, assigned to CarlFuentes2020

[2021-07-16 11:39] CarlFuentes2020 commented on #500
@rogeriocbrito This issue has been fixed, please regenerate the component again.

[2021-07-16 11:39] #500 closed, assigned to CarlFuentes2020

[2021-07-16 12:46] chetnath opened #502 "File uploading issue"
### Steps to reproduce the issue

When i try to upload multiple or single image, getting error "Required Field"  why..while selecting images
<field name="vibhag_image" type="FileMultiple" required="true" label="COM_VIBHAGS_FORM_LBL_VIBHAGDETAIL_VIBHAG_IMAGE" description="COM_VIBHAGS_FORM_DESC_VIBHAGDETAIL_VIBHAG_IMAGE" hint="COM_VIBHAGS_FORM_LBL_VIBHAGDETAIL_VIBHAG_IMAGE"/>

http://hcds.co.in/dev1

[2021-07-16 13:16] CarlFuentes2020 commented on #502
@chetnath
This is a bug from Joomla  when file field is required
To read more: https://docs.joomla.org/File_form_field_type
Please remove required from field.

[2021-07-16 22:00] rogeriocbrito commented on #500
Hello @CarlFuentes2020 .

Thank you.
I've tested and it now saves the new Tag on the tags component on the frontend.  And when I see the data on the view link the Tags are there.
But, when I edit the record, the Tags field comes empty.

![image](https://user-images.githubusercontent.com/2229276/126012532-6f945c37-689d-4b5a-b659-9c4c35abbd6b.png)

Please checkit

[2021-07-19 10:52] CarlFuentes2020 commented on #500
@rogeriocbrito Our apology, the bug has been fixed. please regenerate again.

[2021-07-20 09:28] aDaneInSpain commented on #502
Unless we prevent users from selecting required on file fields, we will keep seeing this issue and having to investigate it to tell them. Please solve this issue by preventing users from selecting required on the file field.

[2021-07-20 11:18] CarlFuentes2020 commented on #495
@blueline86 Thank you for your report, this issue has been fixed.

[2021-07-20 11:18] #495 closed, assigned to CarlFuentes2020

[2021-07-20 11:19] CarlFuentes2020 commented on #497
@blueline86 Thank you for your report, this issue has been fixed.

[2021-07-20 11:19] #497 closed, assigned to CarlFuentes2020

[2021-07-20 11:19] CarlFuentes2020 commented on #496
@blueline86 Thank you for your report, duplicated file is removed.

[2021-07-20 11:19] #496 closed, assigned to CarlFuentes2020

[2021-07-20 11:20] CarlFuentes2020 commented on #502
This issue has been fixed. user can no longer select required on upload file.

[2021-07-20 11:20] #502 closed, assigned to CarlFuentes2020

[2021-07-22 09:08] logikamente commented on #492
Thanks Carl,
We still have the same error also while we try to open the component.
Regards

[2021-08-04 16:25] EvDoorne opened #503 "Feature Request: add filter option to 'Status field"
Í would like to have the option to add a filter to the frontend+backedn view of fields of the type 'State' (TINYINT) (published/unpublished/etc.)

[2021-08-04 17:12] aDaneInSpain commented on #503
I thought that was one of the standard fields that we add by default?

[2021-08-04 18:04] EvDoorne commented on #503
Correct, it is added by default. But you can't add a list view filter to it :/

[2021-08-04 21:14] EvDoorne opened #504 "Reordering 'State' field does not work"
### Steps to reproduce the issue
- Open an existing table that contains the default 'State' field. Make sure the State field is shown in the frontend list view.
- Move the State field to another position, for instance to the end of the list of fields.
- Save and recompile ,then (re)install the component

### Expected result
- The state field should appear at the designated position in the list vie

[2021-08-04 21:34] EvDoorne opened #505 "Feature request: add display formatting option for TIME fields"
Currently, a field of type TIME has no dedicated display fomrmatting options in the field's setting. A field of type TIME is therefor displayed in hh:mm:ss format by default, which may or may not be the desired display formatting. Adding a dedicated display formatting option allows for display formatting other than the default J! display format for times.

[2021-08-04 21:43] EvDoorne opened #506 "Feature request: Add dedicated sorting option for foreign key type of fields"
Fields of type Foreign Key get their content form another table in the database. The sort order in which this data is presented in the foreign key field can only be set by setting a sort order in the frontend field list settings of the table from which the foreign key field get's is data. This restricts the sorting order possibilities of the contents of fields of the type foreign key.

I would lik

[2021-08-04 21:56] EvDoorne opened #507 "Feature request: Add 'filter' option for contents of fields of type Foreign Key"
Fields of type Foreign Key retrieve their data from anothersource  table in the database. Currently, all records from the source table are added as key/value pair to the foreign key field. I would like to see the possibillity to set a 'filter' to the list of key/value pairs shown in the foreign key field. This is particularly handy to ignore records with unwanted or empty data for the particular s

[2021-08-04 22:05] EvDoorne opened #508 "Feature request: option to include SQL data to INSERT into tables"
I would like to see an option to inlcude SQL data that will be INSERTed during the creation and/or update of a database table.

[2021-08-04 22:56] EvDoorne opened #509 "Feature request: option to duplicate fields to the same or another table, preferably from a library of fields"
I find myself repeating a lot of work setting up fields in tables, especially in larger components. I would like to suggest to have the option to duplicate fields to the same or another table in the same component. The duplication would include all settings of the field, naturally.

Ideally, one would draw from a library of fields+settings to be as DRY as possible

[2021-08-04 23:13] EvDoorne opened #510 "Feature request: Add value for field if no selection is made in fields of type Foreign Key"
With fields of the Foreign Key type, I would like to have the option to ad a value to the list of keys and values, to show upon the initial display of the field. This would allow for a 'Please select...' upon initial display of the field.

[2021-08-04 23:25] EvDoorne opened #511 "Feature request: repeat 'New field'and 'Form builder' buttons at top of table of fields"
To insert a new field or to enter the Form builder, one now has to always scroll to the bottom of the page in the 'Edit table' page. That's counter-intuitive. Especially when creating tables with a larger  number of fields, this would also speed up the proces of adding fields.

This would also solve the issue that both buttons mentioned disappear on mobiel devices.

[2021-08-04 23:34] EvDoorne commented on #363
Wouldn't this be something qou can quite easily solve by using some sort of versioning system (like Github) ?

[2021-08-04 23:36] EvDoorne commented on #321
Alternatively, pls. consider https://github.com/aDaneInSpain/component-creator-issues/issues/508

[2021-08-04 23:39] EvDoorne commented on #177
pls. see https://github.com/aDaneInSpain/component-creator-issues/issues/506

[2021-08-04 23:46] EvDoorne opened #512 "Feature request: option to separately set a field for display in frontend or backend lists/forms"
Currently, fields can be set to be shown/included in lists and views on frontend and backend simultaneously. I would like to see the option to set a field for frontend and backend lists/forms separately.

[2021-08-04 23:51] EvDoorne commented on #252
The issues you outline in the initial post are the main reason why we sometimes (have to) refrain from using CC and go for alternative solutions.

[2021-08-05 11:42] blueline86 commented on #509
You can currently copy fields between tables and components. But I agree I use a lot of the same fields across components like title, alias, created_by, and having some of these standard ones would nice to save set up time.

[2021-08-05 11:47] blueline86 commented on #507
I’ve suggested a patch which would cover this. And if you are comfortable creating a custom field of your own it’s fairly easy to do. There should be a custom field file in the fields folder for you component. Copy this and rename it to what every you want to call your field. Then add in the sql query you want to use. This will extend the foreign key field but gives you full control over the query

[2021-08-05 11:47] blueline86 commented on #506
My suggestion on #507 will solve this for you

[2021-08-05 11:54] blueline86 commented on #503
It’s a default for the backend

[2021-08-05 13:19] aDaneInSpain commented on #252
@CarlFuentes2020 I think the time has come to tackle this. Let's have a meeting about it and figure out how. I have a pretty good idea.

[2021-08-06 17:26] aDaneInSpain commented on #252
I have created a blog post outlining our thoughts on how to solve this. Feedback encouraged. https://www.component-creator.com/en/blog/92-component-creator-event-triggers-proposed-solution

[2021-08-06 18:04] aDaneInSpain commented on #512
Good idea.

[2021-08-06 18:05] aDaneInSpain commented on #512
@CarlFuentes2020 we will need to ensure the interface for this is clean and simple to understand.

[2021-08-06 18:06] aDaneInSpain commented on #511
Thanks for input. Let's do it.

[2021-08-06 18:18] aDaneInSpain commented on #510
Another good idea, thanks. Let's add two new fields on the form when selecting foreign key.

First option value: [TEXTFIELD] (Helptext: The visible text for an additional option added to the beginning of this field. Defaults to empty. Typical usage: "- Please select -". No option will be added if this field is left empty.
First option key: [TEXTFIELD] (Helptext: The value that should be stored if

[2021-08-06 18:22] aDaneInSpain commented on #509
Am I right in understanding that the feature requested in this issue is already available? Adding more standard fields should be submitted as separate feature request?

[2021-08-06 18:22] #509 closed, assigned to nobody

[2021-08-06 18:24] aDaneInSpain commented on #508
I am closing this a duplicate of #252 which would solve this issue

[2021-08-06 18:24] #508 closed, assigned to CarlFuentes2020, madanedeepali

[2021-08-06 18:25] aDaneInSpain commented on #507
We can look into the patch by @blueline86 but I am also pretty sure this can be achieved using the SQL field?

[2021-08-06 18:28] aDaneInSpain commented on #505
Yeah lets add a format option that defaults to hh:mm:ss

[2021-08-06 18:31] aDaneInSpain commented on #504
I think we have done this on purpose as it is not so easy to move and by default always exists the same place in Joomla lists. But if @CarlFuentes2020 says it will be simple to make it movable we will consider this option.

[2021-08-06 18:32] aDaneInSpain commented on #498
This should be a requirements for our J4 compatibility

[2021-08-06 18:34] aDaneInSpain commented on #494
If there is no particular reason they are not included, we should be able to make them available.

[2021-08-06 18:35] aDaneInSpain commented on #493
Very good input thanks. Will get working on this ASAP.

[2021-08-06 18:36] aDaneInSpain commented on #491
Would love the modified files thanks for the contribution.

[2021-08-06 18:39] aDaneInSpain commented on #489
I feel this is a little outside of the scope of Component Creator. I agree it would be a nice thing to have, but I also believe that it would be better to contribute this directly to Joomla to have a new core field type called image_thumb or similar?

[2021-08-06 20:24] EvDoorne commented on #508
Sorry but my feature request is different from #252. Though the need for a solution is the same, I would rather NOT have a plugin to solve this but  a simple interface to insert SQL data directly.

[2021-08-06 20:35] EvDoorne commented on #507
I agree with your remark @aDaneInSpain reg. SQL field. However, I find the SQL field much more difficult to work with for 'not-so experienced developers' and easy to make errors with. My suggestion is a simple addition to the UI to an otherwise already simple to use/implement field.

[2021-08-06 20:36] EvDoorne commented on #510
Great !

[2021-08-06 20:39] EvDoorne commented on #512
I can provide feedback to your proposed interface if you like

[2021-08-06 21:15] blueline86 commented on #507
@aDaneInSpain also Joomla discourages the use of the SQL field in favour of extending form field for security concerns.

You could actually use the UI you have for the SQL field and generate the extended foreign key field file in lieu of the native SQL field.

A custom field file would be generated for each of these, so ideally a user could reuse this field in other places

[2021-08-11 13:01] CarlFuentes2020 commented on #511
A new set of buttons is added to top of edit table. they are mobile friendly display.

[2021-08-11 13:01] #511 closed, assigned to CarlFuentes2020

[2021-08-12 10:55] EvDoorne opened #513 "Feature request: option to set upload location outside site root for file uploads"
Currently, fields of the type 'file field' have a setting where one can determine where the uploaded file will be uploaded. This can only be within the document root of the site. There are many more or less obvious reasons why one would prefer an upload location outside the site root. I would like to see a setting for this.

A simple checkbox 'upload outside site root', opening a field where one c

[2021-08-12 13:09] CarlFuentes2020 commented on #494
The toggle field is added to subform.

[2021-08-12 13:09] #494 closed, assigned to CarlFuentes2020

[2021-08-12 13:47] CarlFuentes2020 commented on #504
We have done this so that it is in the same place with other Joomla list view. It is not hard to allow it to be moved.

[2021-08-12 14:54] aDaneInSpain commented on #513
As we are just using the standard Joomla filed type this is not possible. I propose that you submit it as a feature request in Joomla. Once they have integrated it into the core, we will add support for it as well.

https://docs.joomla.org/File_form_field_type

[2021-08-12 15:10] EvDoorne commented on #513
Fair enough and will do so.  Thnx

[2021-08-12 15:15] EvDoorne opened #514 "label not shown in fields list"
I have a 'file field'type field that will not show it's label in the lfields list:

![label](https://user-images.githubusercontent.com/72145459/129222166-7fd7711f-06ba-4c44-811a-f20a944bf1e5.png)

The settings for field appendix_1 are identical to fields appendix_2 and appendix_3 .

[2021-08-12 16:55] aDaneInSpain commented on #513
It has been a while since I contributed to Joomla. Maybe I will contribute that. If you create the feature request, and get the community to agree, I can contribute the code.

[2021-08-13 09:02] CarlFuentes2020 commented on #514
This issue has been fixed.

[2021-08-13 09:02] #514 closed, assigned to nobody

[2021-08-19 10:59] CarlFuentes2020 commented on #505
A display format is added to TIME field.

[2021-08-19 10:59] #505 closed, assigned to CarlFuentes2020

[2021-08-19 11:33] blueline86 commented on #491
How would you like me to transfer them?

[2021-08-19 12:48] EvDoorne commented on #504
If you can change the sort order of a field (any field that is) I expect the sort of the lfields in the list views to follow the sort order set in component creator. If it doens't, it's a bug :) . Otherwise, just disable the sort order option for this field in the Component Creator interface. I would prefer this to work as expected :)

[2021-08-19 12:50] EvDoorne commented on #507
The latter would be a good option to have. But for those needing htis occasionally in some table(s), I would prefer this option to be added to the Foreign Key field as the user interface would be much easier to understand and work with for fields of this type.

[2021-08-19 13:36] aDaneInSpain commented on #504
I agree with @EvDoorne this should be sortable like any other field.

[2021-08-19 14:18] aDaneInSpain commented on #491
Send them to duc@jensen.technology please. Thanks a lot.

[2021-08-24 10:23] CarlFuentes2020 commented on #504
This bug is fixed.

[2021-08-24 10:23] #504 closed, assigned to CarlFuentes2020

[2021-08-26 03:56] fc338339 opened #515 "Cannot build component"
### Steps to reproduce the issue

1.  press "Build and Download "  but
2. Namespace   : bm  <--- it is for joomla 4 only, but I cannot delete the "bm"

### Expected result

for joomla 2.9.26 no need to add namespace, please delete the "bm"

### Actual result

https://nocdn.component-creator.com/en/edit-component/build?task=builder.buildnocdn&component=NDcyOTYtMTgzMzE3

This page isn’t workingnocdn

[2021-08-26 08:40] CarlFuentes2020 commented on #515
This issue is fixed. Thank for reporting.

[2021-08-26 08:40] #515 closed, assigned to nobody

[2021-08-26 08:40] #513 closed, assigned to nobody

[2021-08-27 08:30] CarlFuentes2020 commented on #498
This enhancement has been implemented. Newly generate Joomla 4 beta component with active premium account can check compatibility.

[2021-08-27 08:30] #498 closed, assigned to CarlFuentes2020

[2021-08-28 02:56] blueline86 opened #516 "Joomla 4: Privacy Plugin missing language file definition in XML"
### Steps to reproduce the issue
Create component with privacy plugin enabled
View output generated in XML file for plugin
Check languages section

### Expected result
language files listed under languages section

### Actual result
[code]

[2021-08-30 03:23] fc338339 opened #517 ""Include field in text based searches" cannot for Field Type "Radio buttons(Multiple)" or "SQL field" ==> is there any bug?"
### Steps to reproduce the issue

Com_bm > #__bm_xi_value >
Field Name : xi_gi_id
Field Type :  Radio buttons (Multiple)
Stored Key - Display value
1 - ORSP or ITC
2 - FRSP

checked :  Include field in text based searches
checked : Add a filter for this field on the list view
//-----//
Field Name : is_xi_flag
Field Type : SQL field
Query : SELECT id, flag_code FROM #__bm_is_flag
key : id
Value : f

[2021-08-30 03:31] fc338339 commented on #517
![text_based_searches_problem](https://user-images.githubusercontent.com/12592291/131281157-7dc03ddb-cb3d-45ef-94bc-d1e6e9d1a145.png)

[2021-08-30 04:27] fc338339 opened #518 "Field Type : SQL will change original data type : int into text after install the new version of component"
### Steps to reproduce the issue

two Fields of  SQL,  one will change the data type from int (11) to text Null

### Expected result

don't change the key (id) data type after install component into joomla website

### Actual result

data type changed

### Name of component and email used to register (if relevant)

com_bm

### System information (as much as possible)

<legend style="display: block

[2021-08-30 04:32] fc338339 commented on #518
![Text_dateType_unwanted_changed](https://user-images.githubusercontent.com/12592291/131285491-be7ed598-862d-4c7b-934d-51a447f19147.png)

[2021-08-30 10:13] CarlFuentes2020 commented on #516
Can you included the component id for further investigation? I could not reproduce this issue with different account or component.

[2021-08-30 11:30] CarlFuentes2020 commented on #518
Actually, the field type INT in gp_parent_id is a bug and it has been fixed. the correct should be type TEXT. Generate the component again and install to change the type of gp_parent_id to TEXT as well.

Because you can choose whichever type to be your Key Field in SQL field. So the type of SQL field can only be TEXT.

[2021-08-30 11:30] #518 closed, assigned to nobody

[2021-08-30 13:44] aDaneInSpain commented on #517
This works as intended. You can search for the **stored value** not the **displayed value**. It would be a too large and complex solution to be able to search for the displayed values. If you need this to work better, you can consider changing the stored value to something that can be searched. And I would like to remind you that you can enable filters for these field types allowing you to select

[2021-08-30 13:44] #517 closed, assigned to nobody

[2021-09-01 11:32] CarlFuentes2020 commented on #469
This field has been implemented.

[2021-09-01 11:32] #469 closed

[2021-09-02 08:23] fc338339 opened #519 "Field Name sudden DONOT allow uppercase letter which make data cannot be shown"
### Steps to reproduce the issue
compare com_bm>#_bm_report>expORSP
vs   com_bm_ii>#_bm_report>exporsp  <--- which is auto change into lower capital letter ???

### Expected result
same as com_bm>#_bm_report>expORSP  allow uppercase

### Actual result

 com_bm_ii>#_bm_report>exporsp <--- auto change back to lowercase ( while data field in database is expORSP)
 so the admin list CANNOT SHOW data (

[2021-09-02 08:29] fc338339 commented on #519
<img width="1069" alt="FieldName_uppercase_problem" src="https://user-images.githubusercontent.com/12592291/131810131-641d3242-0e78-4e60-b267-e23c614e4591.png">
![Uploading fieldname_diff_cannot_show_data.png…]()

[2021-09-02 08:29] fc338339 commented on #519
<img width="1189" alt="fieldname_diff_cannot_show_data" src="https://user-images.githubusercontent.com/12592291/131810196-b9a7ade8-cbb1-4fb6-9bb8-6c62d92c2cea.png">

[2021-09-02 13:12] CarlFuentes2020 commented on #519
Hi @fc338339 ,
Because potential bugs, we have only allow lowercase for quite sometime now. Did you make any manually changes to the com_bm? if not you could change all the field name to lowercase in com_bm and install again to change the field name.

[2021-09-03 14:15] lgayowsky opened #520 "back end drag and drop re-ordering not working"
`###` Steps to reproduce the issue
Build a component using default fields. In back end create two items.  Order by ordering field.

### Expected result
... is no longer greyed out and I can rearrange items.

### Actual result
... is still greyed out.  Cannot reorder items

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional c

[2021-09-04 18:13] mfleeson opened #521 "Edit an existing table and Admin and Front End views randomly select field for Order By"
### Steps to reproduce the issue
Open up component in editor, click on table, look down and instead of ID Descending, it now says Alias Descending

### Expected result
To get the order by field that was previously set

### Actual result

Get random selection of the fields

### Name of component and email used to register (if relevant)
com_jed /    secretary@opensourcematters.org
or
com_jed / mflee

[2021-09-04 18:16] mfleeson commented on #521
On further testing, it's showing the list of fields alphabetically and always choosing the first one.

[2021-09-04 18:25] mfleeson opened #522 "Feature Request: Ability to globally set Storage Engine across all tables"
It would be great to have the option at Component setting level to set the Storage Engine for all tables. I'm currently working my way through 15 tables changing them from the various settings they are at to Server Default and think this would be a fantastic time-saving option.

[2021-09-06 09:58] CarlFuentes2020 commented on #520
The issue has been fixed. Please regenerate and install the component again for the fix.

[2021-09-06 09:58] #520 closed, assigned to nobody

[2021-09-06 13:07] CarlFuentes2020 commented on #521
This issue has been fixed. please regenerate and install the component again for the fix.

[2021-09-06 13:07] #521 closed, assigned to nobody

[2021-09-06 13:37] mfleeson opened #523 "@since sets the wrong value"
### Steps to reproduce the issue
Generate a component.
View any php file that contains comments, i.e. HtmlView.php
Look for #475

### Expected result
@since <value of component version>

### Actual result
@since 1.6

### Name of component and email used to register (if relevant)
com_jed

### System information (as much as possible)

### Additional comments
Following discussion on Joomla Internal G

[2021-09-06 13:42] mfleeson opened #524 "Titles are incorrect in model definitions"
### Steps to reproduce the issue
Generate a component and open up a plural and single model, i.e. JedticketModel and JedticketsModel
The description in the comment does not refer to the model but the componenti.e.
JedTicketModel - Jed model.
JedTicketsModel - Methods supporting a list of Jed records.

### Expected result
JedTicketModel - Jedticket model.
JedTicketsModel - Methods supporting a list

[2021-09-06 13:46] mfleeson opened #525 "Title incorrect in any single model controller"
### Steps to reproduce the issue
Generate component, open up both sets of controller, i.e.
TicketmessageController.php and
TicketmessagesController.php
Look at the title in the comments under the use statements.

### Expected result
TicketmessageController.php  - Ticketmessage controller class
TicketmessagesController.php - Ticketmessages controller class

### Actual result
TicketmessageController

[2021-09-06 13:51] mfleeson commented on #524
This also happens in the HtmlView.php files as well
Jedtickets/HtmlView.php says - View class for a list of Jed. instead of View class for a list of Jedtickets
Jedticket/HtmlView.php says - View class for a list of Jed. However this should not just be Jedticket but its a view to show a single Jed ticket so should read View class for a single Jedticket.

[2021-09-07 12:43] CarlFuentes2020 commented on #523
This issue has been fixed. Please regenerate and install again for the fix.

[2021-09-07 12:43] #523 closed, assigned to nobody

[2021-09-07 12:43] CarlFuentes2020 commented on #524
This issue has been fixed. Please regenerate and install again for the fix.

[2021-09-07 12:43] #524 closed, assigned to nobody

[2021-09-07 12:43] CarlFuentes2020 commented on #525
This issue has been fixed. Please regenerate and install again for the fix.

[2021-09-07 12:43] #525 closed, assigned to nobody

[2021-09-10 12:14] CarlFuentes2020 commented on #510
This feature has been implemented.

[2021-09-10 12:14] #510 closed, assigned to CarlFuentes2020

[2021-09-10 21:09] pskarsjo opened #526 "Fields depending on value of other field is shown in forms but fails to show in views"
### Steps to reproduce the issue

Create new field. Tick "show depending on another field". Add key value required. Make sure the depended field have the correct value.

### Expected result

In a front view: The new field with content shown

### Actual result

In a front side view: Field name shown but not content
In a back side view: Works as expected. Field name and content are both shown.

In a

[2021-09-13 11:15] CarlFuentes2020 commented on #526
Thank you for reporting the issue. It has been fixed. Please regenerate and install again for the fix.

[2021-09-13 11:15] #526 closed, assigned to nobody

[2021-09-15 07:52] fc338339 opened #527 "(CRITICAL Request) Foreign Key add Where condition"
### Steps to reproduce the issue
Field Type: Foreign Key at Field name "user_id"

### Expected result

add  "WHERE" condition to allow using the foreign key to link with a table that has condition
For example  :
Table : #_bm_ group
Field Key : id
Field value : id, group_code
Separator :  |
WHERE  :  id <=3
Therefore,  it will only show  a list with id <= 3
1 |  sector one
2 |  sector two
3 |  sect

[2021-09-15 11:11] aDaneInSpain commented on #527
I actually like this suggestion. Let's do it :-)

[2021-09-16 11:51] CarlFuentes2020 commented on #527
This feature is implemented.

[2021-09-16 11:51] #527 closed, assigned to CarlFuentes2020

[2021-09-16 15:37] fc338339 commented on #527
Dear Sir,

Thank you so much for your prompt reply and add this Conditions

For your hints "Only one such clause is permitted"

Therefore,  can I input the condition as below sample, as in real time we need a more complex condition to filter different fields in one table.
AND can you add an example in your hints because I do not know if I should start the condition starting by  "WHERE"

Thanks ind

[2021-09-17 08:50] CarlFuentes2020 commented on #527
@fc338339 If you need more complex solution. Please consider using our "Custom Query List" field. It allow you to have your own SQL.
On the condition of Foreign Key, you can start to add your condition without starting with "Where". I will add example to hint.

[2021-09-18 02:19] fc338339 commented on #527
Dear SIrs,

Actually most of my linked field is apply SQL Query List , you can refer my other table which field type is SQL , HOWEVER there are bugs ( which I have feedback from other ticket)

  1.  SQL will auto change the linked field from int (11) into Text (i.e.  group_id at #__bm_group_xi)
  2.  Search Tool filter will not giving a correct result,  ( e.g. if I use group_id filter  : sector on

[2021-09-20 08:19] CarlFuentes2020 commented on #527
Hi Fion,
Some of the reported bugs are not actually bugs but was intended technical implementation. We hope to improve all of them soon. Meanwhile, if you think any think can be improve please create feature request, we will consider it in the future.

At condition field please input: id <= 3 AND statue = 1

[2021-09-27 08:09] #519 closed, assigned to nobody

[2021-09-27 13:05] ghost opened #528 "Cant sort items in Joomla CMS"
### Steps to reproduce the issue

Create new component, install it and try to sort items by ID or other field by clicking on column name (not sorting field)

### Expected result

Sort is applied

### Actual result

Sort dont working

### System information (as much as possible)

Joomla 3.10.2

[2021-09-29 13:35] CarlFuentes2020 commented on #528
Thanks for reporting the bug. This issue has been fixed.

[2021-09-29 13:35] #528 closed, assigned to nobody

[2021-10-02 07:11] hammondwb opened #529 "RGB and RGBA format for color picker is broken."
### Steps to reproduce the issue
Create a color picker and set format to rgb or rgba.

### Expected result
Allows format of rgba(255,255,255,1) or rgb(255,255,255,1)

### Actual result
Database field is still limited to 7 characters (varcar7) as if it were a hex value. Needs to be updated. Values get clipped like rgba(25

### Name of component and email used to register (if relevant)
shelcaster_th

[2021-10-02 22:29] nordmograph opened #530 "Joomla 4 - Subform not rendered"
solved... missing settings.

[2021-10-03 09:06] #530 closed, assigned to nobody

[2021-10-04 09:36] CarlFuentes2020 commented on #529
This bug is fixed. Please regenerate and install the component again.
You will need to change your field name, if you want the component to update database of the field when install

[2021-10-04 09:36] #529 closed, assigned to CarlFuentes2020

[2021-10-08 03:32] MrTobyDog opened #531 "Mixing of plurals and singular"
### Steps to reproduce the issue
In my component I have a table called #__blphotos_families.
The form to set up this table correctly identifies that the singular form is Family.
When I generate the code and go to set up a menu it uses a text value of ....TITLE_FORM_VIEW_FAMILIE_DEESC which is not in any of the INI files so is not translated. There are many other examples that are similar

### Expe

[2021-10-08 09:11] CarlFuentes2020 commented on #531
I investigated this issue, and could not reproduce it. Are you still experiencing the issue? if so, can you give me the component id or the link to download component to further my investigate?

[2021-10-08 21:10] MrTobyDog commented on #531
Thanks for that. Unfortunately I have made a number of changes to the
component and the error seems to have gone away!

On Fri, 8 Oct 2021 at 20:11, CarlFuentes2020 ***@***.***>
wrote:

[2021-10-08 22:37] MrTobyDog opened #532 "Error parsing SQL import"
### Steps to reproduce the issue
I imported SQL to the system and found I had extra columns. It seems it is extracting some values from a DEFAULT value in a field definition,
The definition imported was:
CREATE TABLE `blpj3_blphotos_galleries` (
  `id` int(11) NOT NULL,
  `parent_id` int(11) NOT NULL COMMENT 'Parent_id',
  `title` varchar(128) NOT NULL COMMENT 'Mandatory,unique=parent_id',
  `hier

[2021-10-09 21:31] MrTobyDog opened #533 "Unable to publish in backend"
### Steps to reproduce the issue
I have imported a table from my old database and added the suggested extra fields. The table definition is

CREATE TABLE `blpj3_blphotos_kbas` (
  `kba_id` int(11) DEFAULT NULL,
  `kba_name` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sitrecid` int(11) DEFAULT NULL,
  `state_id` int(11) DEFAULT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT

[2021-10-09 22:52] MrTobyDog commented on #533
More information
I imported a new table which again had no state field.
Built the component and the install script looks OK

CREATE TABLE IF NOT EXISTS `#__blphotos_bad_words` (
`id` int(11) UNSIGNED NOT NULL AUTO_INCREMENT,

`bad_word` TEXT(255)  NULL ,
`case_sensitive` TINYINT(4)  NULL  DEFAULT 0,
`suffix` TINYINT(4)  NULL  DEFAULT 0,
`ordering` INT(11)  NULL  DEFAULT 0,
`state` TINYINT(1)  NULL

[2021-10-10 22:58] MrTobyDog opened #534 "WHERE clause in SQL extended field"
### Steps to reproduce the issue

I set up an SQl extended field with
QUERY SELECT id,rights
FROM #__blphotos_usage_rights
And no WHERE

### Expected result

Gets the result from the table

### Actual result

Gave SQL error because it had WHERE with no clause
So I put TRUE as the WHERE condition and then I get
You have an error in your SQL syntax; check the manual that corresponds to your MariaDB

[2021-10-11 08:17] CarlFuentes2020 commented on #531
Issue closed due to it could not be reproduced.

[2021-10-11 08:17] #531 closed, assigned to nobody

[2021-10-11 08:47] CarlFuentes2020 commented on #534
Hi @MrTobyDog ,
is the field you are trying to use "**SQL field with extended settings (recommended)**"?
I tried to go to your component but could not find the error. Are you still experiencing the issue?
I tried to test the field and it worked as expected.
How did you input the query into the "Field configuration"?

[2021-10-11 09:26] CarlFuentes2020 commented on #533
Hi @MrTobyDog , by default all of Items are filter by state = 1, which is why it is not show any items.
Every Items is identified by "id" field, I see the id is not set as auto increment, Which is why the component is not able to change the state.
Please change the id into `id int(11) UNSIGNED NOT NULL AUTO_INCREMENT` to see if it is fixed.

[2021-10-11 09:56] CarlFuentes2020 commented on #533
Hi @MrTobyDog,
By default, the items are filter by state = 1 which is published state. therefore, no items have been shown in list view.
The issue with record not being changed is because the id is not updated with all the record.
Please export the old table data and import it again using phpmyadmin

[2021-10-11 22:05] MrTobyDog commented on #534
Thanks - when I hit a problem I report it and then usually find a
workaround so by the time you see the report the issue is not present.

I have tried to reproduce some of these issues in a new component com_test
and failed, apart from this one:

The I import the following definition:

CREATE TABLE `tests_galleries` (
  `id` int(11) NOT NULL,
  `parent_id` varchar(255) DEFAULT '0' COMMENT 'test pa

[2021-10-11 23:31] MrTobyDog commented on #534
Further to the above I then added the following table to com_tests:

CREATE TABLE `test_libraries` (
  `id` int(11) NOT NULL,
  `parent_id` int(11) NOT NULL COMMENT 'parent_id',
  `title` varchar(128) NOT NULL COMMENT 'Mandatory,unique=parent_id',
  `hierarchical_title` varchar(512) NOT NULL,
  `short_description` varchar(256) NOT NULL,
  `creator_id` mediumint(8) UNSIGNED NOT NULL COMMENT ' manda

[2021-10-14 23:49] MrTobyDog opened #535 "Add Item fails in Front End"
### Steps to reproduce the issue
I have added a simple table bu importing SQL

CREATE TABLE `blphotos_dlr_status` (
  `status` tinyint(4) NOT NULL,
  `status_text` tinytext NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

to com_test, added the suggested fields and imported to my Joomla site.

In the back end I get the list of items and can add an item with no problems.
In the Front end I get the

[2021-10-15 07:40] fc338339 opened #536 "Time format H:i but textbox still show 00:00:00"
### Steps to reproduce the issue

open the cm_ad's  #__ad_timeslot, edit field "Time"

### Expected result

Default : 00:00

### Actual result

Default : 00:00:00  <--cannot remove the second value
input text box still show 00:00:00 as below image
<img src="https://fchan.ad5.hk/images/tmp/time_format.png" />

### Name of component and email used to register (if relevant)
component : cm_ad
table :

[2021-10-15 09:18] CarlFuentes2020 commented on #536
The issue has been fixed. please regenerate and install again.

[2021-10-15 09:18] #536 closed, assigned to nobody

[2021-10-16 21:59] MrTobyDog opened #537 "Syntax error in components\com_new_blphotos\src\Controller\DisplayController.php"
### Steps to reproduce the issue

Just started today - get syntax error, unexpected ')' .
Tracked it down to line 59 in above module which is
		if($view == 'document' || )
Changed it to
		if($view == 'document')

and no longer get errors although I now seem to lose the ability to edit an object in the FE

Regenerated the component with no change. Does not appear in com_test.

### Expected result

[2021-10-16 22:12] MrTobyDog commented on #537
Actually Edit is still possible when I patch the code so ignore that

[2021-10-19 07:33] CarlFuentes2020 commented on #537
Thanks for report issue. it has been fixed.

[2021-10-19 07:33] #537 closed, assigned to nobody

[2021-10-19 21:15] MrTobyDog commented on #537
Thanks - I can confirm problem has gone away

On Tue, 19 Oct 2021 at 18:33, CarlFuentes2020 ***@***.***>
wrote:

[2021-10-19 21:30] MrTobyDog opened #538 "Cannot change permissions"
### Steps to reproduce the issue
In com_test go to table #__test_gallery_competition_type and try to edit the permissions for a table entry (you will of course need to create one but it just needs a text field).
Then go to edit an item in either back or front end and try to change a permissions

### Expected result
Permission is changed

### Actual result
Get a "waiting" mouse pointer and an error

[2021-10-19 22:43] MrTobyDog opened #539 "Usergroup field causes error"
### Steps to reproduce the issue
Add an item to test_usergroup in com_test and then browse the list

### Expected result

Should show OK

### Actual result
Class 'Birdlifetest\Component\Test\Administrator\Model\TestHelper' not found

Is missing a "use" statement for the helper folder

### Name of component and email used to register (if relevant)
com_test
webmaster@birdlifephoography.org.au

### S

[2021-10-19 22:45] MrTobyDog commented on #539
If I put in the use and then go to edit the field I get

<br /><b>Warning</b>:  htmlspecialchars() expects parameter 1 to be string, array given in <b>D:\OneDrive\Documents\WebSites\Joomla 4\layouts\joomla\form\field\text.php</b> on line <b>99</b><br />

in the text box

[2021-10-20 00:00] MrTobyDog opened #540 "Custom query causes error"
### Steps to reproduce the issue

In com_test in the backend try to add a custom query

### Expected result
Get results from the specified SQL

### Actual result
Notice: Undefined property: stdClass::$custom_query in D:\OneDrive\Documents\WebSites\Joomla 4\administrator\components\com_test\src\Field\CustomquerycustomqueryField.php on line 61

line 61 is
$options[] = HTMLHelper::_('select.option',

[2021-10-21 07:59] CarlFuentes2020 commented on #540
The error was because some of the field left when created custom query. a new form validation has been added.

[2021-10-21 07:59] #540 closed, assigned to nobody

[2021-10-21 07:59] CarlFuentes2020 commented on #539
Thanks for reporting issue. It has been fixed.

[2021-10-21 07:59] #539 closed, assigned to nobody

[2021-10-22 08:52] CarlFuentes2020 commented on #538
Thanks for reporting the issue. it has been fixed.

[2021-10-22 08:52] #538 closed, assigned to nobody

[2021-10-22 21:31] MrTobyDog commented on #535
Just a minor comment - the bug is still there but the table is not - there is a table in com_test called #__test_text which has same issue.

[2021-10-22 22:34] MrTobyDog opened #541 "FE Add duplicate unique item causes error"
### Steps to reproduce the issue
Using com_test and the test_integer table add an entry and then add another entry with the same integer value. The BE correctly reports an error - the FE raises an exception which is not very helpful

### Expected result
FE should act the same as BE

### Actual result
Error reported as an exception with a stack trace

### Name of component and email used to registe

[2021-10-23 04:25] MrTobyDog opened #542 "Subform "Save failed with the following error: Unknown column 'Array' in 'where clause'""
### Steps to reproduce the issue

in table test_subform in com_test
Try to add a new entry with several subforms

### Expected result
Should save the entry to the database

### Actual result

Save failed with the following error: Unknown column 'Array' in 'where clause'

### Name of component and email used to register (if relevant)
com_test
webmaster@birdlifephotography.com.au

### System informa

[2021-10-23 04:27] MrTobyDog commented on #542
Similar bug on saving a combobox?

[2021-10-23 22:12] MrTobyDog commented on #538
I am sorry but I am still seeing this error - just tested in com_test, on various tables and I get the error in both BE and FE in New and Edit items. I just rebuilt the component a few minutes ago

[2021-10-25 21:30] MrTobyDog commented on #542
Also occurs in test_multi_checkbox

[2021-10-25 21:32] MrTobyDog opened #543 "Userlist does not allow select of user in FE add or edit"
### Steps to reproduce the issue

In com_test look at table test_userlists

### Expected result
In BE an Add or Edit shows a dropdown list of users to select from, and I would expect the same in the FE

### Actual result
The field is not even shown in FE Add or Edit

### Name of component and email used to register (if relevant)
com_test
webmaster@birdlifephotography.org.au

### System information

[2021-10-27 00:23] MrTobyDog opened #544 "Handling of "Unique" fields in Duplicate"
### Steps to reproduce the issue

In com_j4_blphotos, table badwords.
In the Admin view try to Add an entry that duplicates an existing one - gets a sensible error message
Now try to duplicate an item

### Expected result
Should get the same message

### Actual result
Gets an Exception raised and a stack trace.

### Name of component and email used to register (if relevant)
com_j4_blphotos
webmast

[2021-10-27 16:56] JeroenMoolenschot opened #545 "Namespace field in Component 4 Creation"
Hi,

When i create a Joomla 4 component, the field Namespace is needed to save the component.
I tried various values but everything seems to be wrong.
I think it's a bug or i need some documentation to get the right value.

![Knipsel](https://user-images.githubusercontent.com/1471185/139111506-40020d84-2f72-4118-8325-c19157f2b699.PNG)

[2021-10-28 08:22] CarlFuentes2020 commented on #545
Hi, you only need to enter string identify for your component e.g: testcomponent, testjoomla4comp, etc.

We will try to add more validation and/or tip for better UX.

[2021-10-28 08:22] #545 closed, assigned to nobody

[2021-10-29 01:01] MrTobyDog opened #546 "Ownership of foreign key fields"
### Steps to reproduce the issue
com_j4_blphotos has a table blphotos_galleries with a foreign key field gallery_type
Create an entry in blphotos_galleries and an entry in the gallery type table with different "created by" fields.
Login on FE with a user who is NOT the owner of the gallery_type entries

### Expected result
The field should show the relevant entries

### Actual result
Nothing is sh

[2021-10-31 08:53] elecoest opened #547 "site / model : error in code $id instead of $pk"
### Steps to reproduce the issue

generate code

### Expected result

good code :)
the code must check $pk and not $id

### Actual result

public function delete($pk)
	{
		$user = Factory::getUser();

		if (!$pk || $this->userIDItem($pk) || $this->isAdminOrSuperUser())
		{
			if (empty($pk))
			{
				$pk = (int) $this->getState('challenge.id');
			}

			if ($pk == 0 || $this->getItem($pk) == null)

[2021-11-03 10:07] CarlFuentes2020 commented on #547
Thank you for reporting bug. This bug is fixed.

[2021-11-03 10:07] #547 closed, assigned to nobody

[2021-11-03 13:51] CarlFuentes2020 commented on #534
Thanks for reporting bug. this issue is fixed

[2021-11-03 13:51] #534 closed, assigned to CarlFuentes2020

[2021-11-03 13:52] CarlFuentes2020 commented on #532
thanks for reporting the bug. this issue is fixed.

[2021-11-03 13:52] #532 closed, assigned to CarlFuentes2020

[2021-11-03 13:53] #533 closed, assigned to nobody

[2021-11-03 13:54] CarlFuentes2020 commented on #535
Thanks for reporting the bug. this issue is fixed.

[2021-11-03 13:54] #535 closed, assigned to CarlFuentes2020

[2021-11-05 20:07] MrTobyDog opened #548 "Setting permissions if no title field in table"
### Steps to reproduce the issue
Create a table with no title field and another one with a unique title field.
In the Admin view add and entry to each table and then try to set permissions

### Expected result
Works in both

### Actual result
Works if there is a title, gets an error if there is not

The error reported bu the browser console is:
Uncaught TypeError: document.getElementById(...) is n

[2021-11-05 21:12] MrTobyDog opened #549 "500 error on attemting to set permissions in FE"
### Steps to reproduce the issue

Any table - whether it has a title column or not - in front end go to the edit screen for an item, go to permissions and click one of the dropdowns

### Expected result
Set permission

### Actual result
500 error
Browser trace shows it returns:
{
	"error": true,
	"code": 0,
	"message": "Invalid controller class: application",
	"trace": "#0 /home/birdli7/j4/librari

[2021-11-24 09:55] webgobe opened #550 "Problems with User/Create_by, modified_by type of fields"
### Steps to reproduce the issue
Check component_id=200752
Create a component with one table wich contains one of user related fields (Userlist, Created By, modified By)

### Expected result
To be able to access the admin view withouth fatal errors LOL

### Actual result
When try to access the admin list view you got a result like:
You have an error in your SQL syntax; check the manual that corres

[2021-11-24 10:09] CarlFuentes2020 commented on #550
Hi @webgobe ,
When investigate the issue, I see that you have a foreign key field with table name
`#_gameserver` it should be `#__gameserver` with two underscores.
I have corrected the table name. please regenerate and install the component again to see if it fixed.
Please also double check if the table name is corrected since you are using manual Foreign Key field.

[2021-11-24 10:10] webgobe commented on #550
Let me check, will get back to you ASAP

[2021-11-24 10:12] webgobe commented on #550
Thank you!!! And apologies, my bad, somehow I overlooked this

[2021-11-24 10:12] #550 closed, assigned to CarlFuentes2020

[2021-11-30 12:07] ghost opened #551 "Column state on second place after new table component install"
Can You place a "state" field always at first column ? Its a little annoying that we must do this by hand always after adding new table and fields. The column "id" should be at the end I think - just like list of Joomla article.

![Screenshot](https://user-images.githubusercontent.com/41892211/144044356-9e735d4b-b3c4-4520-94a3-ab10de17326f.png)

[2021-12-03 02:20] helpwise opened #552 "Component Table name not correct - breaks list view [FIXED - USER ERROR in SQL FIELD]"
### Steps to reproduce the issue
Create component with a table name "#__eb_coupon_shop_order_items"

### Expected result
Component list and edit page.

### Actual result
we get an error on selecting the component menu item:
----------------
An error has occurred.

    0 Table #__coupon_shop_orders' doesn't exist Table #__coupon_shop_orders' doesn't exist
-----------------
Why is the database table

[2021-12-03 02:30] helpwise commented on #552
FIXED: It was an error in one of my SQL fields  not the component :)

[2021-12-03 08:01] helpwise commented on #252
I applaud this idea.  It will make CC much more fundamentally structually sound to an ongoing and update-able component solution in Joomla.

To get around this issue to date, we use CC as the table and data structure and raw data creator/editor, and then build modules around that data that allow us to custom build the interface and interaction often using override templates on the modules.

It wou

[2021-12-03 08:08] #552 closed, assigned to nobody

[2021-12-10 20:24] blueline86 commented on #546
Did you happen to tick the box at a component level to only allow users to view their own data? I know CC will add the kind of code you’ve posted to a number of files when enabled.

My guess is this one is a feature not a bug.

[2021-12-10 20:34] blueline86 commented on #522
Agree. I have the same pain frequently.

Each table should default to “Component Default” and inherit from the main component settings where an option should be added. This still lets people override it for an individual table if there was a reason to do that.

[2021-12-11 05:06] MrTobyDog commented on #546
I guess I may have done - was a quite a while back and my original test component is long gone. But makes sense

[2021-12-11 05:06] #546 closed, assigned to nobody

[2021-12-26 00:39] blueline86 commented on #551
In a related issue. I would also like the ID column always on the far right. By default Joomla com_content sets the width at 3% and hides on mobile. see below:

[code]

Likewise NB for the left side standard fields, with width 1%, ordering not displayed on mobile as js-draggble doesn't work on mobile.

[code]

[2021-12-26 00:46] blueline86 commented on #516
I've just checked this again and can't replicate it currently. Not sure now where I first saw it.

[2021-12-26 00:46] #516 closed, assigned to nobody

[2021-12-26 00:48] blueline86 commented on #512
At the same time you could also consider display/hide on mobile. Easily hidden on mobile with `d-none d-md-table-cell`

[2021-12-26 00:58] blueline86 commented on #465
Further to not being able to reuse the same variable name I'm currently using this implementation which allows you to simply add a list of fields that will then be search for the sub-string. This search will break up all the search terms separated by a space and search all fields for all terms. eg if you'e looking for an entry "Green Fish" searching "Gre fish" will return it, like wish "fish green

[2022-01-04 10:16] tonypartridge opened #553 "J4 Errors on install with no frontend."
### Steps to reproduce the issue
Build a component with NO frontend views

### Expected result

Extensions install without error

### Actual result

The extension installs, but announces plugin errors

### Name of component and email used to register (if relevant)

com_xws_sale_history

![CC_Install_Plugin_Error](https://user-images.githubusercontent.com/1400982/148044070-d007e173-8790-4d0f-b7a8-7

[2022-01-04 14:31] tonypartridge opened #554 "J4 - field as Edit Link does not make it an edit link."
### Steps to reproduce the issue

Create a component, do not enable link to details on a field say 'Name' and set this as an edit link.

### Expected result

Field is an edit link

### Actual result

Field is text

[2022-01-14 02:14] blueline86 opened #555 "J4 - Default view not found"
### Steps to reproduce the issue
Create a component for J4
View on the front end by entering the URL manually eg: https://mydomain.com/index.php?option=com_xxxx

It looks for a frontend view called 'featured' I suspect because this code was taken from com_content where the default is featured. needs to be changed to a valid view for the component.

404 View not found [name, type, prefix]: featured

[2022-01-17 13:51] CarlFuentes2020 commented on #553
This issue has been fixed.

[2022-01-17 13:51] #553 closed, assigned to CarlFuentes2020

[2022-01-19 11:55] ghost opened #556 "Foreign key multiselect filter - multiple options ?"
Hi, is there some way to select multiple options in CMS filter when we have set a multiselect field in JCC ? Now in CMS we can filter only by one option. Field type -> Foreign key. I also noticed that in Joomla article list there are multiselect filter fields (category, author, etc).

Type of field -> Foreign key or select list
Option selected -> multiple

In CMS there are no multiple filter for t

[2022-01-19 13:34] ghost commented on #556
Ok i make that by editing files administrator/components/com_name/models/name.php:

[code]

and administrator/components/com_name/models/forms/filter_name.php, just add to your <field

`multiple="multiple"`

But can you upgrade that funcionality to JCC to automatically add multiple to LIST and FOREIGN_KEY fields with that option ?

[2022-01-19 18:07] MaverickPOZ commented on #556
If You want to change sql to select exactly value so change to
`      foreach($filter_edycje as $filter_name_value) {
       //$query->where("FIND_IN_SET('" . $db->escape($filter_name_value) . "',a.edycje)");
       $query->where("a.`edycje` = '".$db->escape($filter_name_value)."'");
      }`

[2022-01-19 18:17] ghost commented on #556
Also to better control, for exactly option filter use this:
[code]

[2022-01-22 08:57] wunschradio opened #557 "J3 tab not showing up if name has a . inside"
### Steps to reproduce the issue
Use the form builder and add a tab including a dot in name (e.g. domain.com)

### Expected result
Form fields should show up when clicking on the tab

### Actual result
Only tab gets active with previous form fields

### Name of component and email used to register (if relevant)
not relevant

### System information (as much as possible)
J 3.10.5

### Additional com

[2022-01-22 08:59] wunschradio commented on #557
![config](https://user-images.githubusercontent.com/39115843/150631951-5c544482-f655-4e4f-a002-7e309b0dbd5b.png)
![clickable](https://user-images.githubusercontent.com/39115843/150632000-36a49efe-3bee-4b68-9dd4-12a0e7c0501f.png)
![unclickable](https://user-images.githubusercontent.com/39115843/150632002-072ff704-4c74-4ee4-ab48-5ced8f22ae9b.png)

[2022-01-26 21:34] Sanzi87 opened #558 "List limit is Null -J4 frontend"
### Steps to reproduce the issue
Create a new J4 component with frontend view. Add some rows on the backend and create a menu for the list view.

### Expected result
Search functions and the order functions work well, but the limit function doesn't work. (on the frontend)
Because the list. limit is Null. Maybe the limitstart parameter is Null also (I haven't checked.)

### Generated code

[2022-01-28 08:29] CarlFuentes2020 commented on #555
Thanks for your report. This issue is fixed.

[2022-01-28 08:29] #555 closed

[2022-01-28 08:32] CarlFuentes2020 commented on #554
Thanks for your report, this issue has been fixed.

[2022-01-28 08:32] #554 closed

[2022-01-28 08:41] ghost opened #559 "Component creator bug (Content Security Policy) - cant move to component page > 1"
Firefox - I cant move to page more than 1 in component-creator.com, please fix ASAP. I have a lot of components - can you make some kind of search component by name or get limit field for example show 10,50,100 components ?

Can you make default order by newest component first ?

[2022-02-02 08:36] ghost commented on #559
The problem still exist, actual Firefox 96
![Untitled-1](https://user-images.githubusercontent.com/41892211/152119934-8cc14af0-7bb1-4a9b-8384-b3ac0181116f.jpg)

[2022-02-02 09:40] CarlFuentes2020 commented on #559
@MaverickPOZ Sorry for the inconvenient, we are looking into this atm. we will notify you as soon as it is finished.

[2022-02-03 17:32] webgobe opened #560 "Routing problem"
### Steps to reproduce the issue
Create a simple component with couple of fields (name, alias - via the alias type of field), and couple of non-essential other fields, name being selected as the link holder for frontend list view.

### Expected result
When clicking on the list on the name to enter on the individual entry page

### Actual result
A routing error: "Oops... Page Not Found!

We're sorr

[2022-02-04 08:16] ghost commented on #559
Sorry - its a firefox addon problem - "disable javascript" was turn on. Solved.

[2022-02-04 08:16] #559 closed

[2022-02-09 08:02] Primelsetzer opened #561 "Bug: list view (in Joomla backend) when using SQL-field as filter ..."
### Steps to reproduce the issue
When using an **SQL-Field** and allow multiple options to select in the **list view of the Administrator** it does not show the selected values - only the first options shows up. The filter above the entry table works fine.

### Expected result
Showing the selected values that are stored in the field.

### Actual result
**Shows only the first option - but this one

[2022-02-16 22:38] justinWhite14 opened #562 "DESC front-end default ordering on a table doesn't work"
### Steps to reproduce the issue

Set DESC for default order on a table for FRONT END EDITING.

### Expected result

Front end view will show in descending order.

### Actual result

Front end view shows items in ascending order by default

### Additional comments

I believe this is the code in the model that is incorrect:

`		if (!in_array(strtoupper($direction), array('ASC', 'DESC', '')))
		{

[2022-02-18 02:01] CarlFuentes2020 commented on #560
Thanks for reporting the issue. it has been fixed. We also find a problem in your field name. some of them started with a number which will cause a problem in the code. We have improved the UX, so the field will not accept starting number name field. Please change those field name and regenerate again for the fix.

[2022-02-18 02:01] #560 closed, assigned to nobody

[2022-02-24 20:10] rbnevins opened #563 "Pagination Issue"
### Steps to reproduce the issue
Created a new component with a table called routes that has several hundred rows.

### Expected result
I expect that when I change the number of rows to show per page on the route-listing from the default of 20 to something else, the number of rows on the listing will change accordingly.

### Actual result
No matter what the setting is for the number rows per page,

[2022-02-25 09:25] CarlFuentes2020 commented on #563
@rbnevins I tried to go to your account but the component is not there. I created and tested pagination in both frontend and administrator, everything seems to work accordingly. Are you still experiencing this issue?

[2022-02-25 09:46] CarlFuentes2020 commented on #562
This issue has been fixed. thank you for reporting.

[2022-02-25 09:46] #562 closed, assigned to CarlFuentes2020

[2022-02-25 11:16] CarlFuentes2020 commented on #558
Thanks for reporting the issue. it has been fixed.

[2022-02-25 11:16] #558 closed, assigned to nobody

[2022-02-25 11:17] CarlFuentes2020 commented on #563
@rbnevins We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-02-25 11:17] #563 closed, assigned to CarlFuentes2020

[2022-02-25 20:42] rbnevins commented on #563
Thank you - I can confirm it is fixed.

[2022-02-25 21:24] blueline86 opened #564 "Additional Language Strings"
### Steps to reproduce the issue
In CC within a component adding "Additional Language Strings", you need to select the client before adding a new string, every time you add a string. If you have a batch of strings to add this gets a bit annoying as there is a delay in the screen refreshing each time after the selection.

### Expected result
Ideally, if "Site" is selected it should stay selected un

[2022-02-25 21:58] blueline86 opened #565 "Feature Request: Form Builder - Access standard Joomla Layouts"
### Steps to reproduce the issue
Joomla has a number of standard layouts used particularly in admin forms for common fields used in Joomla core components. Using the layouts creates a consistent user experience in different components.

It would get great if these layouts could be accessed in Form Builder. There could be an "Add Layout" button with the below layouts available for selection. The la

[2022-02-27 16:57] rbnevins opened #566 "Foreign Key Display Issue in List view"
### Steps to reproduce the issue
Create a table with a foreign key to another table.

### Expected result
In both the list view and form view, you should see the Field Value from the linked table, not the Field Key (ID)

### Actual result
The form view correctly shows the Field Value from the linked table.  However the list view shows the Field Key (ID)

### Name of component and email used to reg

[2022-02-27 20:38] rbnevins commented on #566
Please disregard - I found the problem - my error!

[2022-02-28 13:50] #566 closed, assigned to nobody

[2022-03-02 13:21] CarlFuentes2020 commented on #549
This is Joomla issue with Rules field type in clientarea. We have hide it in frontend.

[2022-03-02 13:21] #549 closed, assigned to CarlFuentes2020

[2022-03-02 14:08] rbnevins opened #567 "Checkin Permissions Issue"
### Steps to reproduce the issue
Create a table with both a list view and edit/form view

### Expected result
When you go to the edit screen to edit an existing item but then hit the browser back button instead of the submit button, the row goes into a checked out state.  Then when you click on the link to view the item, a button to checkin the item is shown.  Clicking on this checkin button shoul

[2022-03-03 10:50] logikamente opened #568 "The form's view shows another item id data"
### Steps to reproduce the issue
1. You have to go into the form page which has a required field.
2. You don't have to fill the required field; next you have to save the record, then the controller returns an error and that's right!
3. The latest step is to go to another view form of another item id

### Expected result
I expect to see the form filled by other values (the values of the selected it

[2022-03-04 14:17] CarlFuentes2020 commented on #567
This issue has been fixed. Please regenerate and install again for the fix.

[2022-03-04 14:17] #567 closed, assigned to CarlFuentes2020

[2022-03-04 14:46] rbnevins opened #569 "created_by not being included in form XML"
### Steps to reproduce the issue
Create a table with the created_by field type

### Expected result
When you add a new item to the table the created_by column will be automatically populated with the user_id of the joomla user.  Then when that same joomla user edits the same record, he should be able to save any changes to the item.

### Actual result
The created_by field is correctly populated wh

[2022-03-05 14:06] mfleeson opened #570 "Table called Review or PreView not allowed"
### Steps to reproduce the issue
Create a table called #_mf_review
It correctly creates View Names, Reviews, Review etc
Click to Create Table

### Expected result

Table is created

### Actual result

 Error Message is displayed "The Internal name (plural) can not contain the reserved words: controller, model, view, list, fieldgroup, field."

### Name of component and email used to register (if re

[2022-03-05 14:53] rbnevins opened #571 "Delete of Item Results in Checkin Error"
### Steps to reproduce the issue
Create a table with a created_by field type.  Add a row to the table and then try to delete it.

### Expected result
The deletion should occur without error.

### Actual result
The row is added properly and the created_by field is set properly to the user_id of the submitter.  When you view it on list view and then click on the delete icon on that row, the processi

[2022-03-05 20:06] aDaneInSpain commented on #570
This is exactly as intended. Please read the error message again.  You can not have "view" as part of a table name as it tricks up the Joomla MVC

[2022-03-05 20:06] #570 closed, assigned to CarlFuentes2020

[2022-03-06 12:51] mfleeson commented on #570
Hi,
It only tricked up in Joomla 2.5 according to the other internal Joomla guys on Glip. Joomla 4 with Namespaces makes sure this cannot happen. Please can it be turned off for Joomla 4 apps as I really need to get Joomla Extension Directory version 4 working with the new Reviews code.
Thanks
Mark

[2022-03-06 12:57] aDaneInSpain commented on #570
It definately also tripped up Joomla 3, but sure. We will investigate that on Monday and apply a patch if it does not break J4.

[2022-03-06 12:59] mfleeson commented on #570
Hi,
It only tricked up in Joomla 2.5 according to the other internal Joomla
guys on Glip. Joomla 4 with Namespaces makes sure this cannot happen.
Please can it be turned off for Joomla 4 apps as I really need to get
Joomla Extension Directory version 4 working with the new Reviews code.
Thanks
Mark

On 05.03.2022 20:06, 'Søren Beck Jensen' via Mark Fleeson wrote:

Links:
------
[1]
https://github.

[2022-03-06 13:00] mfleeson commented on #570
Thank you. I have found Component Creator invaluable in making the new
JED.

On 06.03.2022 12:57, 'Søren Beck Jensen' via Mark Fleeson wrote:

Links:
------
[1]
https://github.com/aDaneInSpain/component-creator-issues/issues/570#issuecomment-1059958107
[2]
https://github.com/notifications/unsubscribe-auth/AAHKY5XAFCMRM6O7WUPHD73U6STTVANCNFSM5P7XOGSA

[2022-03-07 09:07] aDaneInSpain commented on #557
The solution for this is to prevent adding . in the name. Thanks for reporting.

[2022-03-07 10:21] wunschradio commented on #557
Thank you.

[2022-03-07 10:27] CarlFuentes2020 commented on #570
The word "view" has been removed when checked for creating new view. However, the other reserved words(E.g. Controller, model etc.) are still not available for naming.

[2022-03-08 18:58] skujan commented on #467
I'm getting the following error when I attempt to install a Joomla 4 extension. Do you know how to fix this?
"JInstaller: :Install: Error SQL Data too long for column 'name' at row 1"

[2022-03-08 20:16] skujan opened #572 "JInstaller: :Install: Error SQL Data too long for column 'name' at row 1"
### Steps to reproduce the issue
Joomla 4 Install Extension

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-03-09 07:36] aDaneInSpain commented on #467
Please report this as an independent issue or as a support request, instead of commenting on an unrelated issue. Thanks.

[2022-03-09 15:20] skujan commented on #572
There is no issue installing into a Joomla 3 site. Is there some kind of tweak needed to the manifest file? Is there a log file that would provide more details on the error?

[2022-03-09 15:23] aDaneInSpain commented on #572
Please provide the name of your component and email as requested in the template. We can not investigate something without it.

[2022-03-09 15:24] aDaneInSpain commented on #572
Did you ensure that you are building a version 4 component when trying to install into J4?

[2022-03-09 15:38] skujan commented on #572
It's a home-made module and plugin caller RU Courses. I have made some code changes. For instance replacing $dispatcher = JEventDispatcher::getInstance(); with $app = Factory::getApplication(); and calls like $app->triggerEvent("showIndexNumbers", array($params->get('overrideGlobal', '0'), $params->get('showIndex', '0')))[0]; But of course I can't test my code changes until I can install the modul

[2022-03-09 15:40] aDaneInSpain commented on #572
I need to know the name of the component in Component Creator and what email address you are using for logging in. Then I will be able to login as you and download and test the component and check the code.

[2022-03-09 15:41] skujan commented on #572
Oh I see. I'm not familiar with the Component Creator.

[2022-03-09 15:59] aDaneInSpain commented on #572
Ah. You are posting on the issues page for the Component Creator. If you have written your own component and need help with it, I propose https://forum.joomla.org/ or https://joomla.stackexchange.com/

You could of course also consider building your component using [Component Creator](https://www.component-creator.com/en/)

[2022-03-09 15:59] #572 closed, assigned to nobody

[2022-03-09 16:07] skujan commented on #572
Thank you for your assistance.

[2022-03-16 13:03] justrustyspoons opened #573 "Undefined constant "\Site\Controller\int""
### Steps to reproduce the issue

Checkout an item in the front end and then navigate away so it remains checked out, then hit the checkin button

### Expected result

Item get checked in

### Actual result

Error Undefined constant "\Site\Controller\int"

### Name of component and email used to register (if relevant)

[com_driverpay](https://www.component-creator.com/en/edit-component?component_i

[2022-03-17 12:01] dariox64 commented on #569
# The problem is complex.

- the acl (modify your own) option has no effect because created_by is set to null on rewrite.
- a serious security error. You can easily override the id in the console and save the item as a different user (I do not recommend setting this field in xml)

This can be solved in two ways.

## 1. Change to
``/administrator/components/com_example/src/Table/YourTable.php``

$u

[2022-03-18 01:03] rbnevins commented on #569
Thanks for the response.  However, I am a little bit confused.  This is a bug, correct?  If so, shouldn't this be changed in Component Creator, not as a change I have to make locally everytime I re-install?

[2022-03-18 07:45] dariox64 commented on #569
In my opinion, this is a serious generator bug that generates the table file incorrectly.

By default in joomla, the store updateNulls = false. Maybe someone had an idea to make it true.

https://github.com/joomla/joomla-cms/blob/0bdb410abe6d5f3ecf56294e394c969525d80d43/libraries/src/Table/Table.php#L869

[2022-03-18 08:39] aDaneInSpain commented on #569
Sounds like a bug, We will review ASAP. We are just a bit backed up at the moment.

[2022-03-25 09:42] netamity opened #574 "Table with list view but no item/form unable to unpublish or delete"
Difficult to tell if it is something particular to my component or an issue with component creator, but i suspect it is the latter.

### Steps to reproduce the issue
Create a component with a table that has an admin list view, but no admin item/form view. The idea here is that the table will be populated through custom db queries in the front end.

### Expected result
You should still be able to u

[2022-03-29 09:32] CarlFuentes2020 commented on #573
This bug has been fixed, please regenerate the component and install again for the fix.
In case, you need emergency bug fix, please use our contact directly https://www.component-creator.com/en/contact

[2022-03-29 09:32] #573 closed, assigned to nobody

[2022-03-29 10:57] wunschradio opened #575 "Call to undefined method Joomla\CMS\Component\Router\RouterViewConfiguration::getItems() if view is "menu""
### Steps to reproduce the issue
Add a new view "menu"

### Expected result
View should be accessable

### Actual result
Site is breaking with error
Call to undefined method Joomla\CMS\Component\Router\RouterViewConfiguration::getItems()

### System information (as much as possible)
Joomla 4.1.0

### Additional comments
In component/com_xy/src/Service/Router.php the lines
`$menus = new RouterViewC

[2022-03-30 13:00] CarlFuentes2020 commented on #571
This bug has been fixed. please regenerate the component and install again for the fix.

[2022-03-30 13:00] #571 closed, assigned to CarlFuentes2020

[2022-03-30 13:01] CarlFuentes2020 commented on #569
We have reviewed and because of the security reason we do not allow created_by field in frontend. however, a fix has been deployed. Please regenerate and install again for the fix

[2022-03-30 13:01] #569 closed, assigned to CarlFuentes2020

[2022-04-07 13:42] madanedeepali commented on #575
 We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-04-07 13:42] #575 closed, assigned to madanedeepali

[2022-04-11 06:07] madanedeepali commented on #557
We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-04-11 06:07] #557 closed, assigned to madanedeepali

[2022-04-12 05:06] madanedeepali commented on #568
We tried to replicate the issue but was not able to do so.
Are you still facing this issue if so, can you please provide more information to reproduce it.

[2022-04-14 05:03] madanedeepali commented on #561
We tried to replicate the issue but was not able to do so.
Are you still facing this issue, can you please provide more information to reproduce it.

[2022-04-14 15:02] logikamente commented on #568
Steps to reproduce the issue

1. You have to go into the form page which has a required field (I disabled javascript form fields check)
The image shows my accountform view  for id=3746
<img width="1828" alt="Schermata 2022-04-14 alle 16 53 30" src="https://user-images.githubusercontent.com/6168778/163417477-c70e3d58-59d2-4f05-bde8-23eb5f8cd052.png">

2. You don't have to fill the required field, i

[2022-04-14 16:27] madanedeepali commented on #568
Thanks for the information.
We will try to recreate and fix the issue

[2022-04-15 07:08] tdeyhle opened #576 "Content of 2nd tab in component is moved to right side"
### Steps to reproduce the issue
Generate the component '[com_akademie_organisationsteam_en](https://www.component-creator.com/de/startseite/komponente-bearbeiten?component_id=196989)'
Install the component
Go to the component and press the new button.
Go to the tab "Englisch"

### Expected result
That the textfield and the textarea is displayed under the headline.

### Actual result
The textfield

[2022-04-15 08:53] CarlFuentes2020 commented on #576
After investigation, this seems to be a bug in Joomla core Javascript/Css. We could not fix that. However, if you put another field into the second tab, it will fix the problem.

[2022-04-15 08:53] #576 closed, assigned to CarlFuentes2020

[2022-04-15 09:24] tdeyhle commented on #576
Thank you for the quick reply and the workaround

[2022-04-15 12:28] aDaneInSpain commented on #568
I am trying to understand this issue. Is this issue only an issue if you disable JavaScript in your browser?

Is this a security issue (both records are from the same session, so I assume not).

The practise of storing the form data in the session variable is standard Joomla practise, and clearing it would lead to degraded performance for the majority of users (going back to correct an error if th

[2022-04-20 11:30] madanedeepali commented on #544
We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-04-20 11:30] #544 closed, assigned to madanedeepali

[2022-04-20 11:31] madanedeepali commented on #488
We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-04-20 11:31] #488 closed, assigned to madanedeepali

[2022-04-23 13:08] primillet opened #577 "upload file name in Chinese"
### Steps to reproduce the issue
upload a file/files with file name in Chinese without altering the file names.

### Expected result
File name unchanged

### Actual result
file name is replaced with hyphen -

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments
My solution is to comment out the current code:
// Replac

[2022-04-29 08:12] logikamente commented on #568
Thanks, yes, this is an issue only if you disable JavaScript in your browser. But this is also a security issue because, as you said , both records **are from the same session**.
Enabling JavaScript do not resolve the issue, but avoid the problem.
In my opinion it would be enough to insert two new OR conditions
[code]

[2022-04-29 09:02] aDaneInSpain commented on #568
If both records are from the same session, then it is **not** a security issue, as you would just be seeing records that you already have access to see.

Adding two calls to the method getItem() to verify if you should call getItem() just to prevent a visual issue that only appears if you disabled JavaScript is not the right approach in my opinion. If you disable JavaScript, many functionalities w

[2022-04-29 09:02] #568 closed, assigned to madanedeepali

[2022-05-03 15:21] aDaneInSpain commented on #577
We should use the Joomla method \JFile::makeSafe($name) instead of our own preg_replace() - it has had some improvements done in relation with this, although I am not sure if it would save a file with only Chinese characters. This should only be fixed in the J4 version of our code.

https://github.com/joomla/joomla-cms/pull/12049

[2022-05-04 14:10] aDaneInSpain commented on #577
After further investigation, it appears that even Joomla has given up on solving this. We always lean on "the Joomla standard" and so we will also do that now. We will not be supporting uploading files with special utf8 characters in the core. If Joomla implements a method for handling these, we will re-use their approach.

Until then, you will have to edit the code we generate to use whichever tr

[2022-05-04 14:10] #577 closed, assigned to madanedeepali

[2022-05-06 03:44] madanedeepali commented on #542
We tried to replicate the issue but was not able to do so.
Are you still facing this issue, can you please provide more information to reproduce it.

[2022-05-06 06:09] MrTobyDog commented on #542
Thanks for that - I have moved on since I reported that and can no longer
find how I produced the bug
Dave

On Fri, 6 May 2022 at 13:44, madanedeepali ***@***.***> wrote:

[2022-05-06 14:34] #542 closed, assigned to nobody

[2022-05-09 08:56] RomUK1ST opened #578 "Joomla subform date picker j3"
Hi All,

On the sub form when using a date picker as its a date field only the first row works and produces a calendar panel.
Every other row that you generate by clicking new row button the date picker no longer works for the additional rows. When you review the button is is pointing to a X instead of 1,2,3,4 for the ID of the subsequent rows.

Please advise if anyone has this and resolved. This

[2022-05-09 08:59] RomUK1ST opened #579 "Joomla subform table mode no errors on blank. J3"
### Steps to reproduce the issue

Create joomla subform field and related sub form.
Select table mode. Specify certain fields as required in subform. Then try to submit the new item form with a required field blank.

### Expected result

Get promoted for each field and row with a blank required field

### Actual result

An empty bar appears NOT detailing the fields that are blank that must be fill

[2022-05-12 07:33] madanedeepali commented on #579
We tried to replicate the issue but was not able replicate it.
Are you still facing this issue, can you please provide more information to reproduce it.

[2022-05-12 07:33] madanedeepali commented on #578
We tried to replicate the issue but was not able do so.
Are you still facing this issue, can you please provide more information to reproduce it.

[2022-05-12 10:59] RomUK1ST commented on #578
Hi Madanedeepali,

I just downloaded a fresh version and date picker in the front end works now.
Maybe my last download of this component was prior to fix.
Please close the ticket .. thank you so much

R

[2022-05-12 11:02] RomUK1ST commented on #579
I have just downloaded a version of the component com_ov######_back##########

This still persists. When you have a required field on a sub form the front end form prompts to say error.. but the error bar is completely blank so therefore the user does not know what to do and there is nothing instructive. joomla.form.field.subform.repeatable-table

when not in this mode joomla.form.field.subform.re

[2022-05-12 11:18] madanedeepali commented on #578
Thank you for the update..closing the ticket

[2022-05-12 11:18] #578 closed, assigned to madanedeepali

[2022-05-13 11:20] madanedeepali commented on #579
After investigation, this seems to be a bug in Core Joomla here is the link you can refer to https://github.com/joomla/joomla-cms/pull/27909. We always lean on "the Joomla standard" so we could not fix this issue.

Thank you!

[2022-05-13 11:20] #579 closed, assigned to madanedeepali

[2022-05-13 14:24] RomUK1ST opened #580 "ACL not working on latest download of component"
### Steps to reproduce the issue

Downloaded my component  ###_ov######_back#####er
Installed.
When I try to set the ability for a User Group to access the Administration Interface within Global Configuration no errors are reported.
It does not allow backend administration access.
To get this I have to add another group for another component to get in. Then the above component is listed. When I tr

[2022-05-13 14:52] RomUK1ST commented on #580
Just tried with a fresh virgin Joomla install 3.10.8 .. same behaviour.

Many thanks

R

[2022-05-17 08:08] madanedeepali commented on #574
We have identified the problem and fixed it. please regenerate and install again for the fix.

[2022-05-17 08:08] #574 closed, assigned to madanedeepali

[2022-05-23 08:23] madanedeepali commented on #580
We have identified the problem and fixed it. Please regenerate and install again for the fix.

[2022-05-23 08:23] #580 closed, assigned to madanedeepali

[2022-05-23 08:46] RomUK1ST commented on #580
OK great... thank you.. I will regenerate. Thanks

[2022-05-23 09:17] RomUK1ST commented on #580
Please can you advise file(s) that changed so I can merge into my existing work?

Thank you

R

[2022-05-23 09:42] madanedeepali commented on #580
Sure...
To fix this we have added condition to check logged in user have permission to manage the component.

You need to add that condition in the all admin list views of the  component.

For eg. To fix issue for the *requests* list view you need to add condition
`|| Factory::getUser()->authorise('core.manage', 'com_ov######_back#####er')`
 on Line No 211 and function name is 	protected function

[2022-05-30 12:12] Kareto opened #581 "Feature Request: send email after form submit"
Can be good the possibility to enable an option to send email to administrators after frontend form submit. Can be possible?

[2022-05-30 15:19] aDaneInSpain commented on #581
Thank you for your suggestion.

This is very simple to implement in the code yourself and is not a generic feature we feel many users will want, so unless this gets some more upvotes we will not implement this.

[2022-05-31 07:44] Kareto commented on #581
I think that there are a lot of people like me that use a component creator because dont know how to program by themselves. Please, evaluate the option of implementing it since seeing what you say it seems that it will only take 5 minutes

[2022-05-31 07:48] aDaneInSpain commented on #581
You are probably right, but it has never been our ambition to be able to deliver a 100% working component, but to greatly speed up development and make it less repetitive. There are so many different things that users might want to build that trying to implement them all would make our project very bloated and difficult to maintain.

[2022-05-31 08:26] Kareto commented on #581
Ok, i'll wait for those upvotes. Thanks for ur time

[2022-06-06 03:58] madanedeepali opened #582 "Installation: it should be a package, not just a component installing sub-extensions;"
A lot of repetitive code in MVC; make it Traits

[2022-06-06 04:04] madanedeepali opened #583 "If a component supports e.g. assets when building it. Don't include the conditional code."

[2022-06-06 04:06] madanedeepali opened #584 "Lang string keys should use the convention COM_componentName_ViewName_ for prefixing them, like Joomla does"
### Additional comments
Reported on the FB post

[2022-06-06 04:08] madanedeepali opened #585 "Do not use a custom Dispatcher in the backend; for the same reason you have one in the frontend"
### Additional comments
Reported on the FB post

[2022-06-06 04:13] madanedeepali opened #586 "Don't use jinclude(); it's deprecated and will be removed in 5.0"
### Additional comments
Reported in the FB post

[2022-06-06 04:17] madanedeepali opened #587 "Must not use HTMLHelper to register helper in every view template; generic helpers are PSR-4 auto-loaded, HTML helpers MUST be registered through a service."
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments
For reference can check component e.g Akeeba Ticket System of the user posted post on the fb

[2022-06-06 04:19] madanedeepali opened #588 "Use a service to register the custom Router; this allows client to customise the router and inject objects explicitly instead of using the global Factory most of whose methods are deprecated."
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-06-06 04:23] madanedeepali opened #589 "Pay attention to the type hints generate in cc methods; those are referencing Joomla 3 class names and/or using a bare name instead of an FQN without taking into account that it is inside a non-root namespace"
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-06-06 04:25] madanedeepali opened #590 "XML forms are completely unformatted, run-together messes; we can automatically create human-readable output by passing them through PHP's DOM extension — or generate them readable to begin with."
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-06-06 04:27] madanedeepali opened #591 "CC using a lot of custom fields which don't make sense; Do CC have a custom field for each of created by, modified by, checked out when Joomla already has a User field used EVERYWHERE since Joomla 1.6?"
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-06-06 04:29] madanedeepali opened #592 "The multi-file upload, the code is a mess. CC handling file uploads in the freaking Table — that's the persistence layer handling code that belongs half in the controller and half in the model. This is a violation of the separation of concerns AND makes it impossible to use the Table as the persistence layer abstraction it's meant to be."
### Steps to reproduce the issue

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-06-07 17:22] Squareweb opened #593 "ADD (create) permission not recognized (throws permission error)"
### Steps to reproduce the issue
- create "registered" user
- Set component permission to "allow create" for registered users
- create a menu-entry to add a new component-item in the front-end
- login to front-end as registered user
- activate add-menu-item to add new component-item or activate "ADD" button on list-page

### Expected result
- empty add-form to add a new component-item

### Actual

[2022-06-09 11:53] madanedeepali commented on #593
To recreate this issue, can you please provide us the component id?

Thank You

[2022-06-10 09:28] madanedeepali commented on #593
We have identified the issue and fixed it. Please regenerate and install again for the fix.

[2022-06-10 09:28] #593 closed, assigned to madanedeepali

[2022-06-10 12:17] Squareweb commented on #593
Thanks,

Tested and it works as expected.

Thanks for the support

Have a nice day.

Mark

SQUAREWEB Internetdiensten

T 06-26176633
E ***@***.***
W http://www.squareweb.nl

Op vr 10 jun. 2022 om 11:28 schreef madanedeepali ***@***.***

[2022-06-10 14:32] logikamente opened #594 ""buttons" param doesn't work in a subform field"
### Steps to reproduce the issue
On the edit field page, when the field is a subform type, there is the possiblity to insert which buttons to show in the multiple mode.

<img width="1196" alt="Schermata 2022-06-10 alle 16 19 34" src="https://user-images.githubusercontent.com/6168778/173085876-bbd37a32-f643-42bb-a264-da1458310e8d.png">

### Expected result
In the generated xml I expected to show "b

[2022-06-16 12:01] madanedeepali commented on #594
We have identified the issue and fixed it. Please regenerate and install again for the fix.

[2022-06-16 12:01] #594 closed, assigned to madanedeepali

[2022-06-18 05:19] madanedeepali commented on #548
After investigation, this seems to be a bug in Core Joomla and will need to be fixed by Joomla.
Thank you!

[2022-06-18 05:19] #548 closed, assigned to madanedeepali

[2022-06-20 09:26] aDaneInSpain commented on #548
@madanedeepali I know you found an issue in Joomla describing this. It would be great of you could link to it.

[2022-06-20 10:07] madanedeepali commented on #548
Sorry I forgot to add.. will add it right now.

Here are the links to which  you can check to
https://github.com/joomla/joomla-cms/issues/12314
https://github.com/joomla/joomla-cms/issues/11296

On Mon, Jun 20, 2022 at 2:56 PM Søren Beck Jensen ***@***.***>
wrote:

--
Best Regards,
Deepali A. Madane

[2022-06-20 16:26] wunschradio opened #595 "Description will be overwritten if database field is named "title""
### Steps to reproduce the issue
Add a table field with name "title"
Add a description

### Expected result
Description should be shown

### Actual result
Description will be overwritten with JGLOBAL_FIELD_FIELD_ORDERING_DESC

[2022-06-22 13:38] mfleeson opened #596 "Feature Request - Export/Import CC Project as XML - allowing easy editing of text definition values"
CC has a tendancy to add 's' to field names to get their label, i.e. parent_id becomes parent_ids and first_name becomes first names
If we could export an xml structure of the component, we could search/replace/edit these changes and then reupload the xml to generate the code?

[2022-06-22 13:50] aDaneInSpain commented on #596
It would be a huge, major task to develop a system to process this XML file. And as it is not required (you can simply change the names before saving it in the first place) this is not something that I ever can foresee that we will invest the time in developing.

[2022-06-22 13:50] #596 closed, assigned to nobody

[2022-06-22 16:21] mfleeson commented on #596
Ok, no worries.

[2022-06-22 16:39] mfleeson opened #597 "Feature Request - Option to Turn off plurals when importing a SQL table"
### Steps to reproduce the issue
Create a new table using sql import.
CREATE TABLE `test` (
  `id` int NOT NULL AUTO_INCREMENT,
  `test_id` int NOT NULL)

  When table is imported, the plural strings define as ids and test_ids

It would be great to have an option to turn this off?
Thanks

[2022-06-22 19:07] aDaneInSpain commented on #597
What should be the plural strings for those?

[2022-06-25 16:57] ChartchaiK opened #598 "Bug: Check-in error on Frontend and return error page"
### Steps to reproduce the issue
When click "Check-in"  button on Frontend

### Expected result
public function checkin()
{
....
$id 	= $this->input->post->get('id'); //This is OK, $id=null
...
}

### Actual result
public function checkin()
{
...
$id 	= $this->input->post->get('id', 'int', 0); //This make error, $id=int
...
}
### Name of component and email used to register (if relevant)

### Syst

[2022-06-30 13:24] madanedeepali commented on #595
We have identified the issue and fixed it. Please regenerate and install again for the fix.

[2022-06-30 13:24] #595 closed, assigned to madanedeepali

[2022-07-01 09:58] CarlFuentes2020 commented on #598
Thank you for reporting bug, It has been fixed.

[2022-07-01 09:58] #598 closed, assigned to nobody

[2022-07-01 09:58] #581 closed, assigned to nobody

[2022-07-01 15:26] ChartchaiK opened #599 "Bug: Upload file(s) fail validation , when enter value in "Max filesize" of "File field" Type"
### Steps to reproduce the issue
+New Table > + New field > Select Field Type : File field> Enter value in "Max filessize(MB)"

### Expected result

Remove "required" attribute in XML field definition

### Actual result

Have "required" attribute in XML field definition
(it will always fail validation regardless of whether a file has been uploaded or not, Refer https://docs.joomla.org/File_form_fi

[2022-07-03 03:48] ChartchaiK opened #600 "Bug: Nested Table don't show list of items on Frontend"
### Steps to reproduce the issue
1. Create component with "Nested table"
2. Build and Download, and Install in Joomla 4
3. Go to Frontend -> "List" View -> Add new item -> Save
4. List will not show any item

### Expected result
List show items on Frontend

### Actual result
List does not show any item on Frontend

### Name of component and email used to register (if relevant)

### System informat

[2022-07-03 18:44] ChartchaiK opened #601 "Feature Request: Need modify ListQuery of Model before return to display"
### Steps to reproduce the issue
*sModel->getListQuery()
{
...

return $query;
}

### Expected result
Add event like onListModelPrepare is triggered before return $query (of Model), in order to modify $query by plugin

For example
*sModel->getListQuery()
{
...

Factory::getApplication()->triggerEvent('onListModelPrepare', $query, $context);
return $query;
}

### Actual result

### Name of componen

[2022-07-04 16:48] madanedeepali commented on #599
We tried to replicate the issue but was not able to do so.
As per our testing it is working as per link provide by you in the ticket information (Refer https://docs.joomla.org/File_form_field_type)
please confirm, or please provide more information to reproduce it.

[2022-07-05 02:08] nZambi- opened #602 "Bug: User Group field type should be usergrouplist Not usergroup (Depreciated)"
### Steps to reproduce the issue
Try to add a usergroup field type to table in J4 Component

### Additional comments

usergroup Field Type is marked as depreciated since 3.2 and may not work at all in J4. Simply changing to usergrouplist works.

[2022-07-05 13:05] CarlFuentes2020 commented on #602
Thank you for reporting this. This issue has been fixed

[2022-07-05 13:05] #602 closed, assigned to nobody

[2022-07-05 16:51] nZambi- opened #603 "Feature Request: add common Options to usergrouplist Field Type"
### Steps to reproduce the issue
Add usergrouplist Field Type to a form.

### Additional comments

There are a number of useful options that can be added to this field type.
Notably - default , disabled , required , readonly...

J4 - https://api.joomla.org/cms-4/classes/Joomla-CMS-Form-Field-UsergrouplistField.html

Thank You.

[2022-07-05 18:01] ChartchaiK commented on #599
No problem found on creating new one.
It may be caused by I have checked "Make field unique" and un-checked it.

Thanks for your attention.

[2022-07-05 22:08] ChartchaiK opened #604 "Feature Request: Need display datetime as user timezone on "Time created" and "Time updated" Field, per user setting."
### Steps to reproduce the issue
+New component > + New table > + New field > Field type > Select " Time created" or "Time updated"

### Expected result
Display  datetime  as "Time Zone"  per user setting on "Time created" and "Time updated" field

Store datetime  as UTC in database
Can display datetime as User Time Zone on website

### Actual result
Store datetime as UTC  in database
Display date

[2022-07-06 03:30] madanedeepali commented on #599
Thank you for updating us, since there is not issue closing the ticket.

[2022-07-06 03:30] #599 closed, assigned to madanedeepali

[2022-07-08 10:51] CarlFuentes2020 commented on #600
Thank you for your report, this bug has been fixed.

[2022-07-08 10:51] #600 closed, assigned to madanedeepali

[2022-07-09 14:23] ChartchaiK opened #605 "Feature Request: Don't allow to add new record with uploaded file , when the file is existing in the system"
### Steps to reproduce the issue
+ New component > + New table >  +New field > Field Type > Select "File field" > Check "Show on list view" > Save
Fontend
1. Add new record, with a file. > save
2. Add new record, with the same file as 1 > save
3. Delete record 1 or 2
4. At list view, Click on filename > file is gone.

### Expected result
- Don't allow to add new record with uploaded file , when fi

[2022-07-11 11:08] CarlFuentes2020 commented on #543
Close this issue because it is stated in the official document to only work in the administrator area.
for more information:
https://docs.joomla.org/User_form_field_type

[2022-07-11 11:08] #543 closed, assigned to CarlFuentes2020

[2022-07-13 09:36] HDInfautre opened #606 "generation of a plugin (joomla 4.1+)"
Hello

Former developer, I would appreciate to create more easily a plugin to realize the following operation. I would like to make a plugin that acts on the creation (or modification) of an article to transfer values from a dozen custom fields... elsewhere
a) subform tags => tags j!
I have a custom subform field (j!) that allows me to force to enter at least 1 tag up to 9. Transfer them into the

[2022-07-15 13:57] ChartchaiK opened #607 "Bug: Field Type "Foreign Key" store "Field value (title,name)" in the database, instead of "Field Key (id)""
### Steps to reproduce the issue

+ Table > Select > [some table]
+ Field key > Select > id
+ Field value > Select > title
+ List display options > Select "Show on list view" > Select "Add a filter for this field on the list view"

I belief this is a bug, due to SQL field store Field key(id) in the database record.

### Expected result
Field key (id) shall be stored in database record, to keep con

[2022-07-15 14:25] ChartchaiK opened #608 "Feature Request: Add "add a filter.." when selected 'Show on list view" on "SQL field ... (recommended)""
### Steps to reproduce the issue
+ New component > + New table > + New field
+ Select > Field type > Select 'SQL Field ... (recommended)

### Expected result

### Actual result

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-07-18 05:34] madanedeepali commented on #607
We tried to replicate the issue but were not able to do so.
It is working as per the details provided by you in the ticket as follows:

New component > + New table > + New field > Field Type > Select :Special - Foreign key
On Foreign key field
Table > Select > [some table]
Field key > Select > id
Field value > Select > title
List-display options > Select "Show on list view" > Select "Add a filter

[2022-07-18 05:34] #607 closed, assigned to madanedeepali

[2022-07-18 11:15] wunschradio opened #609 "Custom Query List uses ' and " in source"
### Steps to reproduce the issue
I want to concat a returning value, so my query looks like
SELECT title AS `value`, CONCAT('index.php?whatever=', id) AS `key` FROM `#__table` WHERE published = 1

### Expected result
Should return index.php?whatever=1 as key

### Actual result
Code breaks, because
administrator/components/com_component/src/Field/TablefieldField.php uses $db->setQuery('query');
com

[2022-07-19 08:52] madanedeepali commented on #609
We have identified the issue and fixed it. Please regenerate and install again for the fix.

[2022-07-19 08:52] #609 closed, assigned to madanedeepali

[2022-07-22 14:11] logikamente opened #610 "Bug in the single view file for SQL field"
### Steps to reproduce the issue

You have to install a component that contains an SQL field type (select list of rows from db)

### Expected results

Until two months ago in the single view file in the getItem() function, the field was printing the query between double quotes; so in my case:

`if (isset($this->_item->order) && $this->_item->order != '')
		{
			if (is_object($this->_item->order))

[2022-07-25 09:34] aDaneInSpain commented on #177
And also #507

[2022-07-25 09:35] #215 closed

[2022-07-25 09:40] #322 closed

[2022-07-25 09:45] aDaneInSpain commented on #177
And also #376

[2022-07-25 09:50] aDaneInSpain commented on #489
This should be contributed to Joomla core instead

[2022-07-25 09:50] #489 closed, assigned to nobody

[2022-07-25 09:56] #556 closed, assigned to nobody

[2022-07-25 09:58] aDaneInSpain commented on #561
Closing as we have not heard back

[2022-07-25 09:58] #561 closed, assigned to madanedeepali

[2022-07-26 09:25] CarlFuentes2020 commented on #610
Thank you for reporting bug, it has been changed back to double quotes. All the SQL query will be in double quotes from now on.

[2022-07-26 09:25] #610 closed, assigned to madanedeepali

[2022-07-26 09:27] CarlFuentes2020 commented on #609
Hi, Please modify your query for double quotes. All the SQL query will be in double quotes across files

[2022-07-26 09:37] wunschradio commented on #609
Thx!

[2022-07-27 05:01] madanedeepali commented on #605
As per discussion in the team, this should be handled by Joomla or by the user themselves.

[2022-07-27 05:01] #605 closed, assigned to madanedeepali

[2022-07-27 11:13] wunschradio opened #611 "state is always first row"
### Steps to reproduce the issue
Add state field to a table as admin view
move position

### Expected result
position should be used as table column

### Actual result
always first column

### Name of component and email used to register (if relevant)

### System information (as much as possible)
Joomla 4.1.5, component build today

### Additional comments

[2022-07-27 13:59] CarlFuentes2020 commented on #611
Hi,
This is the team decision to change in admin list display so that it look the same with Joomla native list appearance.

please see #551

[2022-07-27 13:59] #611 closed, assigned to nobody

[2022-07-27 13:59] CarlFuentes2020 commented on #551
This is implemented

[2022-07-27 13:59] #551 closed, assigned to CarlFuentes2020

[2022-07-28 14:37] ChartchaiK commented on #601
I achieved this feature by modification core joomla api

/*Add the following code in libraries\src\MVC\Model\ListModel.php -> ::_getListQuery() { before line:return $this->query}
Factory::getApplication()->triggerEvent('onContentPrepareData', array($this->context, $this->query));
*/

[2022-07-28 14:37] #601 closed, assigned to nobody

[2022-07-28 14:47] ChartchaiK opened #612 "Bug: Check-in on Frontend, redirect to id=0 instead of edited id (id=xx)"
### Steps to reproduce the issue
Click Check-in button on Frontend for a record.

### Expected result
Redirect to edited id=xx

### Actual result
Redirect to id=0

### Name of component and email used to register (if relevant)

### System information (as much as possible)
Joomla 4

### Additional comments

[2022-07-29 16:12] madanedeepali commented on #379
This is implemented

[2022-07-29 16:12] #379 closed

[2022-07-30 02:06] ChartchaiK opened #613 "Feature Request: Create INDEX on creating field"
### Steps to reproduce the issue
When create a field for a table, 'Create INDEX' option should be provided.

### Expected result
When install the component, Create INDEX statement should be included in the install.mysql.utf8.sql file

### Actual result
It have not 'Create INDEX' option on creating new field

### Name of component and email used to register (if relevant)

### System information (as

[2022-08-01 16:49] go-source opened #614 "Category field not pointing to Joomla category"
### Steps to reproduce the issue
create a J4 component with category field

### Expected result
select category from Joomla category table (they way it is explained in the training video)

### Actual result
It creates a category subform, to select category from the component category subform (works btw)

### Name of component and email used to register (if relevant)

### System information (as muc

[2022-08-06 20:16] rcarey opened #615 "cloned tables do not create MVC/tmpl code"
### Steps to reproduce the issue
Joomla 4.  About 3 or 4 times I cloned a table and modified it slightly within the same component.  When I installed the component, the tables were created, but no MVC code was present - at least no in the admin section.
*** I will add that initially the component was set for Joomla 3, and after I first tried to install it, I realized that I needed to change this t

[2022-08-12 01:58] blueline86 commented on #613
Yep I agree with adding indexes as an option. By default any foreign key field should be indexed along with some of the standard fields that Joomla indexes in other components like created_by, modified_by and state

One thing to remember is some DB column types won’t accept an index like TEXT

Could be worth hiding this feature behind an “Advanced Options” tab so users don’t index every column.

[2022-08-12 02:14] blueline86 commented on #604
Agree this is worth while. A reasonable configuration would be to add a config item for the component to choose to display times in User Time zone, server Timezone or UTC.

https://docs.joomla.org/How_to_use_JDate

For basic implementation of users Timezone.

Option 1:
[code]

Option 2:
[code]

[2022-08-12 02:18] blueline86 commented on #591
I tend to agree with making created by/modified by user fields and created/modified date fields

[2022-08-23 15:31] logikamente opened #616 "J4 component don't have the hook introduced in the FormController class"
### Steps to reproduce the issue

### Expected result
The "site" form controller that extend FormController override the save function and lose the very useful:

- onContentNormaliseRequestData
- postSaveHook

Is possible add this hook soon?
there is a method to override the component creator's controllers for write the own save function and add hooks?

### Actual result
All works fine with less f

[2022-08-24 08:22] bob-van-etten opened #617 "FEATURE REQUEST: search field for my components"
I have a lot of components.
Is it possible to add a search field so I can find a specific component?

[2022-08-26 08:47] renekreijveld commented on #493
Any updates on this? A generated Joomla 4 component still use the deprecated code.

[2022-08-26 13:17] renekreijveld opened #618 "Components use wrong way of pagination"
### Steps to reproduce the issue

Create a component with a list view.
Input more than 5 records.
Create a frontend list.
Set maximum number of items per page to 5 so you see pagination navigation below the list.

### Expected result

Use pagination according to /layouts/joomla/pagination **or** a pagination layout set in a template override.

### Actual result

Always uses pagination layout accor

[2022-08-26 13:26] CarlFuentes2020 commented on #493
Deprecated code has been replaced. Thank you for the input.

@renekreijveld Please regenerate the component again for the new DIC

[2022-08-26 13:26] #493 closed, assigned to CarlFuentes2020

[2022-08-26 13:34] renekreijveld commented on #493
Just tested this with a component generated for Joomla 4. Deprecated code is still in use. I see many occurances of
`$db = Factory::getDbo();`
and
`$user = Factory::getUser();`

[2022-08-29 09:03] CarlFuentes2020 commented on #493
Hi @renekreijveld, Thank you for your report, there are still some left over. It is all have been replaced now.

[2022-09-01 11:04] CarlFuentes2020 commented on #618
The issue has been fixed. Thank you for your input.

[2022-09-01 11:04] #618 closed, assigned to nobody

[2022-09-01 16:10] GeoTimber opened #619 "Cannot Create New Ticket"
### Steps to reproduce the issue

Log in to my account and create a ticket

### Expected result

It being send to CC

### Actual result

The email your provided is nor valid, see screenshot
![Selection_999(830)](https://user-images.githubusercontent.com/6180238/187961713-e0517c4a-b8df-40e4-bf6f-4d8099300e96.png)

### Name of component and email used to register (if relevant)

ideas@poqueiraweb.com

[2022-09-02 10:35] CarlFuentes2020 commented on #619
Sorry for the inconvenient, the issue has been fixed. please try to create new ticket again.

[2022-09-02 10:35] #619 closed, assigned to CarlFuentes2020

[2022-09-02 11:57] CarlFuentes2020 commented on #614
@go-source Can you refer me to which training video you are talking about?

[2022-09-05 11:50] CarlFuentes2020 commented on #586
close due to no record of using jinclude(); in either our j4/j3

[2022-09-05 11:50] #586 closed, assigned to CarlFuentes2020, madanedeepali

[2022-09-05 12:53] CarlFuentes2020 commented on #612
Thanks for reporting bug. it has been fixed

[2022-09-05 12:53] #612 closed, assigned to nobody

[2022-09-07 06:05] stephan-bartsch opened #620 "Issue: Created CC overides current active User"
### Steps to reproduce the issue

Create a new Component for J4 with the fields:
created_by
modiefied_by
checkedout_by

create 2 users

save any entry

login with the other user an load the view/form what else...
the logged in user will be overriten by the user from the entry because you override the user object with the load function in the view!

for example:

- i have created 1 entry in my view

[2022-09-08 07:25] madanedeepali commented on #620
This is not an issue because modified by it is not an editable field so when you open the form to edit it will overwrite the currently logged-in user as modified by the user in the modified field and if you edit the field and save it will consider logged in user as modified by the user which is expected. Closing the ticket, If you still feel this is an issue can you please provide more information

[2022-09-08 07:51] #620 closed, assigned to madanedeepali

[2022-09-08 07:53] aDaneInSpain commented on #620
I don't fully understand what you want to use the $user variable for, or why it matters what is loaded into that variable. If it just shows the user, then it is correct that it should show the user who last updated the form (not the current user) when editing. And then only after save, update that to the current user.

[2022-09-16 12:48] madanedeepali commented on #376
It is implemented

[2022-09-16 12:48] #376 closed

[2022-09-26 11:21] wunschradio opened #621 "Foreign key options result in failing query"
### Steps to reproduce the issue
Add a foreign key field and check multiple options
"hide trashed items"
"hide unpublished items"
"hide archived items"

### Expected result
query="SELECT `id` AS `id`, `name` AS val FROM `#__table` WHERE state != -2 AND WHERE state != 0 AND WHERE state != 2"

### Actual result
query="SELECT `id` AS `id`, `name` AS val FROM `#__table` WHERE state != -2 WHERE state !

[2022-09-27 12:24] idol050279 opened #622 "I cannot install the component to Joomla 4.2.2 - Error: Call to undefined method Joomla\CMS\Installer\Adapter\ComponentAdapter::get()"
I cannot install the component to Joomla 4.2.2 - Error: Call to undefined method Joomla\CMS\Installer\Adapter\ComponentAdapter::get()

[2022-09-28 09:13] madanedeepali commented on #622
we have had an issue replying to you because your inbox is full. Perhaps this issue has also prevented you from emailing us.

To install your component to Joomla 4.2.2 you need to convert it to Joomla 4 from Joomla 3 in the JCC there is a setting to do that.
Follow the following steps:
1. Go to your component where you are facing an issue Click on Edit Component, and select Joomla Version to Jooml

[2022-09-28 09:13] #622 closed, assigned to madanedeepali

[2022-09-29 11:29] madanedeepali commented on #177
It is implemented

[2022-09-29 11:29] #177 closed

[2022-09-29 11:35] madanedeepali commented on #506
It is implemented

[2022-09-29 11:35] #506 closed, assigned to madanedeepali

[2022-09-29 11:35] madanedeepali commented on #507
It is implemented

[2022-09-29 11:35] #507 closed, assigned to madanedeepali

[2022-09-29 14:54] madanedeepali commented on #621
Thank you for reporting the bug. We have identified the issue and fixed it. Please regenerate and install again for the fix.

[2022-09-29 14:54] #621 closed, assigned to madanedeepali

[2022-09-29 14:59] wunschradio commented on #621
Thanks!

[2022-09-30 09:24] tomekstach opened #623 "User cannot save an item when it has hits field"
### Steps to reproduce the issue

create a J4 component with hits (Automatic increment counter) field

### Expected result

in the CMS part user can save an item when hits field is in it

### Actual result

user got an error: Incorrect integer value: '' for column 'hits' at row 1.

### Name of component and email used to register (if relevant)

### System information (as much as possible)

Joomla!

[2022-09-30 10:37] tomekstach opened #624 "Alias field does not create correct alias value"
### Steps to reproduce the issue

 - create a J4 component with an alias field
 - put some text into the alias field with spaces and diacritic marks and save the item

### Expected result

alias field should contain correct alias value

### Actual result

alias field does not change field value - saves it as a standard text field

### Name of component and email used to register (if relevant)

###

[2022-10-04 07:53] tomekstach commented on #624
## Solution

Add the save method to the model class e.g.,

[code]

[2022-10-04 10:44] wunschradio opened #625 "Time format wrong on list pages"
### Steps to reproduce the issue
Add a calendar field including tim
Set calendar filter to user_utc
Adding a value shows correct time format e.g. 15:00

### Expected result
Admin list view should show 15:00, too

### Actual result
Admin list view shows 13:00 (GMT)

### Name of component and email used to register (if relevant)

### System information (as much as possible)

### Additional comments

[2022-10-05 13:01] madanedeepali commented on #624
Thank you for the solution, we will check and add this to JCC

[2022-10-06 12:01] madanedeepali commented on #624
This issue has been fixed. You can regenerate the component for the fix.

[2022-10-06 12:01] #624 closed, assigned to madanedeepali

[2022-10-10 06:09] madanedeepali commented on #623
We tried to replicate the issue but were not able to do so.
Closing the ticket, please confirm, or can you please provide more information along with the screenshot to reproduce the issue?

[2022-10-10 06:09] #623 closed, assigned to madanedeepali

[2022-10-10 06:37] madanedeepali commented on #625
We tried to replicate the issue with the given details but were not able to do so. It seems there is no issue.
Can you please provide more information along with the screenshot to reproduce the issue?

[2022-10-10 07:56] wunschradio commented on #625
Sure..

Location is set to Berlin (+2 hours)
![1_location](https://user-images.githubusercontent.com/39115843/194820700-3e0eab32-026b-4c08-800c-67ed8b902c73.png)

Component is set to user_utc
![2_config_creator](https://user-images.githubusercontent.com/39115843/194820687-c6a68029-5055-4a45-95d2-06baf3688390.png)

The list view shows the wrong time (UTC)
![3_listview](https://user-images.githubuse

[2022-10-11 08:30] Squareweb commented on #593
Thanks for your reply,

The components id is com_elvb.

Thanks in advance.

SQUAREWEB Internetdiensten

T 06-26176633
E ***@***.***
W http://www.squareweb.nl

Op do 9 jun. 2022 om 13:53 schreef madanedeepali ***@***.***>:

[2022-10-11 16:45] madanedeepali commented on #625
After following the steps mentioned by you in the previous reply, still after trying it on the different two Joomla 4.2.2 instances, we are not able to recreate the issue.

Here are the steps that were followed to recreate the issue.

The location is set to Berlin (+2 hours)
<img width="781" alt="Screen Shot 2022-10-11 at 9 58 05 PM" src="https://user-images.githubusercontent.com/84471450/19514976

[2022-10-11 17:19] wunschradio commented on #625
I just setup an external Joomla installaton on cloudaccess.net (joomla.org > Launch), uploaded the component and ran into the same issue. I will send you login data in the technical support area of CC.

[2022-10-11 17:54] madanedeepali commented on #625
Sure, Thanks

[2022-10-12 12:10] wunschradio opened #626 "Toggle button labels missing in subforms"
### Steps to reproduce the issue
Add a toggle in a subform

### Expected result
Label text should be shown

### Actual result
COM_COMPONENT_VIEW__OPTION_ON and COM_COMPONENT_VIEW__OPTION_OFF are shown (component name edited due to customer privacy)
![toggle2](https://user-images.githubusercontent.com/39115843/195359727-99a7311a-f067-4fde-a4cd-009a3ca83cd0.png)

Type is missing if opened again
![to